.menu {
    position: relative;

    height: 100vh;
    width: rem-x2(882);

    background-color: rgba($color-2, .8);
    transform: translateX(-100%);

    transition: transform .5s;

    &::after {
        content: '';
        opacity: 0;

        transition: opacity .5s;
    }

    &_open {
        transform: translateX(0);
    }

    &__nav-item {
        padding: rem-x2(20) 0 rem-x2(20) rem-x2(168) ;
    }

    &__btn {
        margin: rem-x2(158) rem-x2(138) 0;

        color: #5c5e1d;

        box-shadow: inset 0 0 0 1px #5c5e1d;
    }

    &__service {
        padding-top: rem-x2(160);
    }

    &__menu {
        padding-top: rem-x2(100);
    }

    &__phone {
        display: inline-block;
        margin: rem-x2(44) rem-x2(138);

        color: #5c5e1d;
        text-decoration: none;
        font-size: rem-x2(50);
    }

    &__search {
        position: absolute;
        top: rem-x2(40);
        right: rem-x2(40);
    }
}
