include ../nav/nav
include ../btn/btn
include ../search-mini/search-mini
mixin menu(data)
    +b.menu()&attributes(attributes)
        +search-mini().menu__search
        +e.wrapper
            +e.service
                +nav(nav.service, { itemClass: 'menu__nav-item' }).nav_theme_menu.menu__nav
            +e.menu
                +nav(nav.menu, { itemClass: 'menu__nav-item' }).nav_theme_menu.menu__nav
            +btn.menu__btn
                | Написать нам
            +e.phone(href='tel:+74957775457') 8 495 777 54 57
        block
