.menu {
    position: relative;
    height: rem(1683);
    width: rem(882);

    background-color: rgba(225,231,27,.8);

    &__nav-item {
        padding: rem(20) 0 rem(20) rem(168) ;
    }

    &__btn {
        margin: rem(158) rem(138) 0;

        color: #5C5E1D;
        box-shadow: inset 0 0 0 1px #5C5E1D;
    }

    &__service {
        padding-top: rem(160);
    }

    &__menu {
        padding-top: rem(100);
    }

    &__phone {
        display: inline-block;
        margin: rem(44) rem(138);

        color: #5C5E1D;
        text-decoration: none;
        font-size: rem(50);
    }

    &__search {
        position: absolute;
        top: rem(40);
        right: rem(40);
    }
}