include ../nav/nav
include ../btn/btn
include ../search-mini/search-mini
mixin menu(data)
    +b.menu()&attributes(attributes)
        +search-mini().menu__search
        +e.service
            +nav(nav.service).nav__link_mod.menu__nav(itemClass='menu__nav-item')
        +e.menu
            +nav(nav.menu).nav__link_mod.menu__nav(itemClass='menu__nav-item')
        +btn.menu__btn
            | Написать нам
        +e.phone(href='tel:+74957775457') 8 495 777 54 57
        block