.menu {
    position: relative;

    height: 100vh;

    background-color: rgba($color-2, .8);
    transform: translateX(-100%);

    transition: transform .5s;

    @include above($tablet) {
        //font-size: 16/806 * 100 + vh;
        transform: translateY(-100%);
    }

    &::after {
        content: '';
        opacity: 0;

        transition: opacity .5s;
    }

    &_open {
        transform: translateX(0);
    }

    &__wrapper {
        padding-left: rem(70);
        padding-top: rem(82);
        padding-bottom: rem(46);

        @include below($tablet) {
            padding: rem(70) rem(20) rem(40);
            height: 100vh;

            overflow-y: auto;
        }
    }

    &__nav-item {
        padding: em(7) 0;
        //padding-left: em(15);
    }

    &__btn {
        font-size: rem(16);
        margin-left: rem(53);

        color: #5c5e1d;

        box-shadow: inset 0 0 0 1px #5c5e1d;

        &:hover {
            color: $color-2;

            background: rgba(0, 0, 0, .6);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
        }

        @include below($tablet) {
            margin-left: 0;
        }
    }

    &__row {
        @include clearfix();

        & + & {
            margin-top: rem(85);
        }

        @include below($tablet) {
            & + & {
                margin-top: rem(45);
                text-align: center;
            }
        }
    }

    &__col {
        float: left;

        @include below($tablet) {
            float: none;

        }
    }

    &__menu {
        & + & {
            margin-top: rem(70);
        }

        @include below($tablet) {
            margin-bottom: rem(40);

            & + & {
                margin-top: 0;
            }
        }
    }

    &__service {
        margin-left: rem(75);

        @include below($tablet) {
            margin-left: 0;
            margin-bottom: rem(40);
        }
    }

    &__phone {
        display: table;
        float: left;

        color: #5c5e1d;
        text-decoration: none;
        font-size: rem(24);
        line-height: rem(45);

        @include below($tablet) {
            display: block;
            float: none;
            margin-top: rem(20);
        }
    }

    &__search {
        position: absolute;
        top: em(20);
        right: em(20);

        @include below($tablet) {
            //display: none;
            left: em(5);
            right: auto;
            top: em(12);
        }
    }
}
