.nav {

    &__menu {
        @include list-reset();
    }

    &_horiz {
        font-size: 0;

        .nav__item {
            display: inline-block;
        }
    }

    &__title {
        font-size: rem-x2(50);
        color: black;
        padding: rem-x2(38) rem-x2(138);
        margin: 0;
    }

    &__describe {
        width: rem-x2(478);
        position: relative;
        left: rem-x2(168);
    }

    &__link_mod {
        .link {
            color: #000;
            font-weight: 400;
        }
    }
}

