include ../screenreader/screenreader
include ../link/link

mixin nav(data, classList)
    -classList = classList || {}

    +b.NAV.nav()&attributes(attributes)
        if !data.title
            +screenreader()
                | #{data.screenreader || 'Навигация'}
        else
            +e.H2.title=data.title
            
        +e.UL.menu
            each item in data.items
                +e.item(class=[(item.active ? '_active' : ''), classList.itemClass])
                    +link({ href: item.href }).nav__link
                        | #{item.text}
        if data.describe
            +e.describe= data.describe
        block
