.nav {
    display: block;

    &__menu {
        @include list-reset();
    }

    &__submenu {
        @include list-reset();

        padding-left: rem(20);
    }

    &__subitem {
        margin-top: rem(8);
    }

    &_horiz {
        font-size: 0;

        .nav__item {
            display: inline-block;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: rem-2(38);

        font-size: rem(24);
        font-weight: 300;
        color: black;
    }

    &__describe {
        width: rem-2(478);
        margin-top: rem-2(20);
    }

    &_theme_menu {

        .nav__title {
            margin-bottom: em(20, 25);

            font-size: em(25);
        }

        .nav__link {
            color: #000;
            font-size: em(18);
            font-weight: 400;
        }

        .nav__sublink {
            color: #000;
            font-size: em(15);
            font-weight: 400;
        }

        .nav__describe {
            width: em(478/2);
            margin-top: em(10);
        }
    }
}
