.screen-team {
    $content-width: rem-2(2134);

    position: relative;

    padding-top: rem-2(124);

    background: $color-3;
    background-repeat: no-repeat;

    @include below($tablet) {
        padding-top: 0;
    }

    &__line {
        position: absolute;
        z-index: 2;

        @include below($tablet) {
            display: none;
        }

        &_1 {
            top: rem-2(-20);
            right: percentage(500/1225);

            width: em(199);
            height: em(478);
            margin-right: rem(173);
        }

        &_2 {
            bottom: rem(339);
            left: calc(#{percentage(725/1225)} - #{rem(350)});
            right: rem(420);
        }

        &_3 {
            bottom: rem-2(-20);
            right: rem-2(160);

            width: em(354);
            height: em(519);

            font-size: rem(16.8);
        }
    }

    &__photo-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        width: percentage(833/1225);
        height: rem(364);
        padding-left: rem-2(70);

        line-height: 0;

        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            width: rem-2(70);

            background: #4c4c4c;
        }

        @include below($tablet) {
            position: relative;

            width: 100%;
            height: rem(200);
            padding-left: 0;
            margin-bottom: rem(50);

            border-radius: 10px;

            &::before {
                display: none;
            }
        }
    }

    &__photo {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
    }

    &__main {
        position: relative;
        z-index: 2;

        padding-left: rem-2(200);
        padding-bottom: rem(30);

        @include below($tablet) {
            position: static;

            padding-left: 0;
            padding-bottom: 0;
        }
    }

    &__title {
        margin-top: rem(45);
        margin-bottom: rem(80);

        @include below($tablet) {
            position: absolute;
            top: 0;
            left: rem(60);
            z-index: 2;

            margin: 0;
            padding: rem(15) rem(25);
            padding-top: 0;

            line-height: 1;

            background: #fff;
        }
    }

    &__content-wrapper {
        position: relative;
        z-index: 3;

        width: rem-2(1326);
        margin-left: rem-2(70);
        margin-bottom: rem(75);

        transform: translate3d(0, 0, 0);

        @include below($tablet) {
            width: 100%;
            margin-left: 0;
            margin-bottom: rem(30);
        }

    }

    &__content-shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;

        width: percentage(1200 / 635);
        height: percentage(495 / 175);

        background: url('%=static=%assets/screens/screen-team/shadow-team.png') no-repeat center center / 100% 100%;
        pointer-events: none;
        transform: translate(-50%, -50%);

        @include below($tablet) {
            display: none;
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        padding: rem-2(60) rem-2(92) rem-2(78) rem-2(76);

        background: #fff;

        @include below($tablet) {
            padding: 0;
            padding-right: rem(30);

            background: transparent;
        }
    }

    &__partners {
        width: rem-2(1606);

        @include below($tablet) {
            width: auto;
            margin: 0 rem(-25);
            padding: rem(40) rem(25);

            background: #fff;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @include below($tablet) {
            position: relative;

            margin: 0 rem(-25);
        }
    }
}
