include ../../title/title
include ../../content/content
include ../../partners/partners
include ../../line/line
include ../../footer/footer

mixin screen-team(data)
    +b.SECTION.screen-team()&attributes(attributes)

        +line(line.team1).screen-team__line_1
        +line(line.team2)._dir_right.screen-team__line_2
        +line(line.team3).screen-team__line_3

        +e.main

            +title.screen-team__title
                | Команда

            +content.screen-team__content
                p
                    | С Лорус Эс Си Эм вы получаете помощь профессиональной команды
                    | с многолетним опытом работы в логистике. В компании работают
                    | иностранные специалисты, тесно знакомые с мировой практикой
                    | организации поставок и таможенного оформления. Нас связывает
                    | стремление к постоянному совершенствованию, растущая экспертиза
                    | и неизменное стремление к лидерству и инновациям.


            +partners(partners.default).screen-team__partners

        +e.photo-wrapper
            +e.IMG.photo(
                src='%=static=%img/assets/screens/screen-team/team-photo.jpg'
                srcset='%=static=%img/assets/screens/screen-team/team-photo@2x.jpg 2x'
                alt='')

        +footer
