.screen-team {
    $content-width: rem-2(2134);

    position: relative;

    padding-top: rem-2(124);

    background: $color-3;
    background-repeat: no-repeat;

    &__header {
        position: relative;
        z-index: 2;
    }

    &__nav-btn {
        transform: rotate(90deg);
    }

    &__line {
        position: absolute;
        top: 0;
        right: rem-2(178);
        z-index: 2;

        width: rem-2(1722);
    }

    &__photo-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        width: rem-2(1736);
        padding-left: rem-2(70);

        line-height: 0;

        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            width: rem-2(70);

            background: #4c4c4c;
        }
    }

    &__photo {
        width: 100%;
    }

    &__main {
        position: relative;
        z-index: 2;

        padding: 0 calc(50% - #{$content-width} / 2);
        padding-bottom: rem-2(70);
    }

    &__title {
        margin-top: rem-2(106);
        margin-bottom: rem-2(170);
    }

    &__content {
        position: relative;
        z-index: 3;

        width: rem-2(1326);
        padding: rem-2(60) rem-2(92) rem-2(78) rem-2(76);
        margin-left: rem-2(70);
        margin-bottom: rem-2(196);

        background: #fff;
        box-shadow: 0 20px 80px rgba(0, 0, 0, .2);
        transform: translate3d(0, 0, 0);
    }

    &__partners {
        width: rem-2(1606);
    }
}
