.screen-team {
    $content-width: rem-2(2134);

    position: relative;

    padding-top: rem-2(124);

    background: $color-3;
    background-repeat: no-repeat;

    &__header {
        position: relative;
        z-index: 2;
    }

    &__nav-btn {
        transform: rotate(90deg);
    }

    &__line {
        position: absolute;
        z-index: 2;

        &_1 {
            top: rem-2(-20);
            right: percentage(500/1225);

            width: rem-2(800);
            height: rem-2(966);
            margin-right: rem-2(200);
        }

        &_2 {
            top: rem-2(922);
            left: calc(#{percentage(725/1225)} - #{rem-2(750)});
            right: rem-2(830);
            z-index: 1;
        }

        &_3 {
            bottom: rem-2(-20);
            right: rem-2(160);

            width: rem-2(834);
            height: rem-2(1180);
        }
    }

    &__photo-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        width: percentage(833/1225);
        height: rem(364);
        padding-left: rem-2(70);

        line-height: 0;

        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            width: rem-2(70);

            background: #4c4c4c;
        }
    }

    &__photo {
        width: 100%;
    }

    &__main {
        position: relative;
        z-index: 2;

        padding-left: rem-2(200);
        padding-bottom: rem-2(70);
    }

    &__title {
        margin-top: rem-2(106);
        margin-bottom: rem-2(170);
    }

    &__content {
        position: relative;
        z-index: 3;

        width: rem-2(1326);
        padding: rem-2(60) rem-2(92) rem-2(78) rem-2(76);
        margin-left: rem-2(70);
        margin-bottom: rem-2(196);

        background: #fff;
        box-shadow: 0 0.5rem 5rem .1rem rgba(0, 0, 0, 0.3);
        transform: translate3d(0, 0, 0);
    }

    &__partners {
        width: rem-2(1606);
    }
}
