include ../../logo/logo
include ../../title/title

mixin contacts-head(data)
    +b.HEADER.contacts-head()&attributes(attributes)
        +logo(logo.mainGray).__logo
        +title.__title Контакты
        +e.right
            +e.photo-wrapper
                +e.IMG.img(
                src='%=static=%img/assets/contacts/contacts-1.png'
                alt='')
