include ../../line/line
include ../../icon/icon
include ./block-1/block-1
include ./block-2/block-2
include ./block-3/block-3
include ./block-4/block-4
include ./block-5/block-5

mixin through-les(data)
    +b.through-les()&attributes(attributes )
        +e.wrapper
            +e.lines
                +line(line.throughLes1).through-les__line_1
                +line(line.throughLes2).through-les__line_2
                +line(line.throughLes3).through-les__line_3
            +e.content
                +block-1
                +block-2
                +block-3
                +block-4
                +block-5

