extends ../layouts/inner

include ../components/academy/academy

block vars
    -pageSettings.title = 'Академия';
    -pageSettings.pageClass = 'page-academy page-inner' ;

block content
    +academy
