extends ../layouts/inner

include ../components/inner-page/academy-page/academy-page

block vars
    -pageSettings.title = 'Академия';
    -pageSettings.pageClass = 'page-academy page-inner';
    -pageSettings.footerClass = '_no-line';

block content
    +academy-page
