extends ../layouts/inner

include ../components/academy/through-academy/through-academy

block vars
    -pageSettings.title = 'Академия';
    -pageSettings.pageClass = 'page-academy' ;

block content
    +through-academy
