extends ../layouts/inner

include ../components/inner-page/career-page/career-page

block vars
    -pageSettings.title = 'Карьера';
    -pageSettings.pageClass = 'page-career page-inner';

block content
    +career-page
