extends ../layouts/inner
include ../components/contacts/through-contacts/through-contacts

block vars
    -pageSettings.title = 'Контакты';
    -pageSettings.pageClass = 'page-inner page-contacts';

block content
    +through-contacts
