extends ../layouts/inner

include ../components/contacts/contacts

block vars
    -pageSettings.title = 'Контакты';
    -pageSettings.pageClass = 'page-inner page-contacts';

block content
    +contacts
