extends ../layouts/inner

include ../components/inner-page/contacts-page/contacts-page

block vars
    -pageSettings.title = 'Контакты';
    -pageSettings.pageClass = 'page-inner page-contacts';
    -pageSettings.footerClass = '_no-line';

block content
    +contacts-page
