extends ../layouts/inner

include ../components/inner-page/les-page/les-page

block vars
    -pageSettings.title = 'LES';
    -pageSettings.pageClass = 'page-les page-inner' ;

block content
    +les-page
