extends ../layouts/inner

include ../components/inner-page/search-page/search-page

block vars
    -pageSettings.title = 'Результаты поиска';
    -pageSettings.pageClass = 'page-search page-inner';
    -pageSettings.footerClass = '_no-line';

block content
    +search-page
