extends ../layouts/inner

include ../components/search/search

block vars
    -pageSettings.title = 'Результаты поиска';
    -pageSettings.pageClass = 'page-search page-inner';

block content
    +search
