extends ../layouts/inner

include ../components/service/through-service/through-service

block vars
    -pageSettings.title = 'Услуги';
    -pageSettings.pageClass = 'page-services';

block content
    +through-service
