include ../../line/line
include ../../icon/icon
include ./block-1/block-1
include ./block-2/block-2
include ./block-3/block-3

mixin through-search(data)
    +b.through-search()&attributes(attributes)
        +e.wrapper
            +e.lines
                +line(line.throughSearch1).through-search__line_1
            +e.content
                +block-1
                +block-2
                +block-3
