include ../../title/title
include ../../content/content
include ../../line/line

mixin screen-advantages(data)
    +b.SECTION.screen-advantages()&attributes(attributes)
        +e.wrapper
            +title._underline.screen-advantages__title
                | Преимущества компании
                
            +e.plane
            
            +line(line.advantages).screen-advantages__line
                
            +e.content
                +e.row
                    +content.screen-advantages__text-block
                        h3
                            | От идеи до надёжного<br> воплощения
                        p
                            | Создаём индивидуальные логистические решения для работы 
                            | по принципу JIT/JIS, консультируем по всем вопросам 
                            | логистики от начальной оценки эффективности текущих 
                            | логистических процессов до планирования 
                            | внешнеэкономической деятельности
                                
                    +content.screen-advantages__text-block
                        h3
                            | Новые IT-мощности<br> для успеха вашего бизнеса
                        p
                            | Предлагаем совместную разработку и внедрение инновационных 
                            | IT-решений для управления логистическими потоками. 
                            | Обеспечиваем интеграцию с внутренними системами клиента и 
                            | оказываем техническую поддержку
                            
                +e.row
                    +content.screen-advantages__text-block
                        h3
                            | Знание продукта<br> и отраслевая экспертиза
                        p
                            | Комплексно изучаем тот бизнес и продукт, для которых 
                            | работаем. За годы работы компания накопила впечатляющую 
                            | экспертизу в ряде отраслей, особенно в автомобильной 
                            | промышленности и FMCG
                            
                    +content.screen-advantages__text-block
                        h3
                            | Прозрачность работы<br> и измеряемый результат
                        p
                            | Регулярно проверяем качество обслуживания, используя как 
                            | собственные ноу-хау, так и KPI, предложенные клиентом. Вы 
                            | всегда сможете узнать, где находится ваш груз, или 
                            | оперативно получить помощь наших специалистов
