.screen-advantages {
    $content-width: rem(2134);

    position: relative;

    padding-bottom: rem(112);
    padding-top: rem(124);

    background: url('%=static=%assets/screens/screen-advantages/bg-advantages.svg') no-repeat left 0 / auto 105%;

    &__plane {
        position: absolute;
        top: rem(1286);
        right: 100%;
        z-index: 5;

        width: rem(764);
        height: rem(604);

        background: url('%=static=%assets/screens/screen-advantages/plane.png') no-repeat center center / contain;

        transition: top ($anim-time * 2), right ($anim-time * 2);

        &_trigger {
            top: rem(90);
            right: calc(50% - #{$content-width} / 2 + #{rem(436)});
        }
    }

    &__wrapper {
        padding: 0 calc(50% - #{$content-width} / 2);
    }

    &__title {
        margin-bottom: rem(182);
    }

    &__nav-btn {
        transform: rotate(180deg);
    }

    &__row {
        @include clearfix();

        &:not(:last-child) {
            margin-bottom: rem(140);
        }

        &:first-child {

            .screen-advantages__text-block:last-child {
                margin-right: rem(-214);
            }
        }
    }

    &__text-block {
        float: left;
        width: rem(820);

        &:nth-child(2) {
            float: right;
        }

        h2 {
            margin-bottom: rem(80);
        }

        p {
            position: relative;

            padding-left: rem(64);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;

                height: rem(222);
                width: 1px;

                background: currentColor;
            }
        }
    }
}
