.screen-advantages {
    $content-width: rem-2(2134);

    position: relative;

    padding-bottom: rem-2(112);
    padding-top: rem-2(124);

    background: url('%=static=%assets/screens/screen-advantages/bg-advantages.svg') no-repeat left 0 / 151vh 101vh;

    &__plane {
        position: absolute;
        top: rem-2(90);
        left: percentage(560/1255);
        z-index: 5;

        width: rem-2(764);
        height: rem-2(604);

        background: url('%=static=%assets/screens/screen-advantages/plane.png') no-repeat center center / contain;
    }

    &__line {
        position: absolute;

        &_1 {
            bottom: rem(292);
            right: rem(-60);

            width: em(346);
            height: em(103);
        }

        &_2 {
            bottom: 0;
            right: percentage(500/1225);

            width: em(184);
            height: em(402);
        }
    }

    &__ship {
        position: absolute;
        top: rem(-22);
        right: rem(0);

        color: #d1d1d1;
    }

    &__wave {
        position: absolute;
        bottom: rem(352);
        left: percentage(725/1225);
        right: rem(293);

        height: rem(11);
        margin-left: rem(12);

        background: url('%=static=%assets/screens/screen-advantages/wave.svg') repeat-x 0 center / rem(33) auto;

        animation: wave 2.5s both linear infinite;
    }

    &__wrapper {
        padding-left: rem-2(200);
    }

    &__title {
        margin-bottom: rem-2(120);
    }

    &__nav-btn {
        transform: rotate(180deg);
    }

    &__row {
        @include clearfix();

        &:not(:last-child) {
            margin-bottom: rem-2(140);
        }

        &:first-child {

            .screen-advantages__text-block:last-child {
                transform: translateX(rem-2(214));
            }
        }

        &:last-child {
            .screen-advantages__text-block:last-child {
                padding-top: rem-2(80);

                transform: translateX(rem-2(60));
            }
        }
    }

    &__text-block {
        float: left;
        width: rem-2(820);
        max-width: percentage(410/1255);

        &:not(:last-child) {
            margin-right: percentage(380 / 1255);
        }

        h2 {
            margin-bottom: rem-2(80);
        }

        p {
            position: relative;

            padding-left: rem-2(64);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;

                height: rem-2(222);
                width: 1px;

                background: currentColor;
            }
        }
    }
}

@keyframes wave {
    100% {
        background-position: rem-2(-66) center;
    }
}
