.contacts-head {
    position: relative;

    padding-top: rem(145);
    padding-left: rem(100);
    margin-bottom: rem(85);

    @include below($tablet) {
        padding: 0 0 rem(40);
        margin: 0;
        display: flex;
        flex-direction: column-reverse;

        background-color: #fafaf9;
    }

    &__logo {
        width: rem(225);
        margin-right: rem(44);

        @include below($tablet) {
            display: none;
        }
    }

    &__title {
        display: inline-block;
        vertical-align: middle;

        @include below($tablet) {
            padding: 0 rem(33);
        }
    }

    &__right {
        position: absolute;
        top: rem(115);
        right: rem(-35);
        z-index: 2;

        @include below($tablet) {
            position: static;
            margin-bottom: rem(50);
        }
    }

    &__photo-wrapper {
        position: relative;

        width: rem(516);
        padding-top: 70%;

        border-radius: rem(10);
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 3;
            right: 50%;

            width: 80%;
            margin-right: -40%;

            background: url('%=static=%assets/academy/academy-photo-shadow.svg') no-repeat right top / auto 100%;
        }

        @include below($tablet) {
            width: 100%;
            padding-top: 45%;

            border-radius: 0;

            &:after {
                display: none;
            }
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;

        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;

        transform: translate(-50%, -50%);
    }
}
