include ../../../logo/logo
include ../../../title/title
include ../../../photo/photo

mixin contacts-head(data)
    +b.HEADER.contacts-head()&attributes(attributes)
        +logo(logo.mainGray).__logo
        +title.__title Контакты
        +e.right
            +photo({ src: '%=static=%img/assets/photo/contacts-1.png' })._theme_simple
