include ../../../share/share
include ../../../par/par

mixin block-4(data)
    +b.block-4.inner-page__block

        +par()._brackets._brackets-s.block-4__cite
            +e.content
                | Мы считаем, что наш совместный успех в повседневном удовлетворении ваших потребностей!

        +par().block-4__after-cite
            +e.content
                | Управление производительностью для наших клиентов означает контроль операционных затрат и потерь времени путем непрерывной работы над планированием, определение операционных ключевых показателей эффективности, испытание и внедрение оптимизированных логистических процессов или технологий.

        +share(share.default).inner-page__share

