.info-list {

    &__slider {
        position: relative;

        .slick-dots {
            position: absolute;
            right: rem(22);
            bottom: rem(101);
        }

        .slick-slide {
            transition: opacity 0s 1.4s;
        }

        .slick-active {
            transition: opacity 0s .4s;
        }

        .slick-arrow {
            position: absolute;
            left: 0;
            z-index: 1;

            margin-left: rem-2(-15);
        }

        .slick-prev {
            top: rem-2(100);
        }

        .slick-next {
            top: rem-2(220);
        }
    }
}
