.info-list {

    &__slider {
        position: relative;

        .slick-dots {
            position: absolute;
            right: rem-x2(44);
            bottom: rem-x2(22);
            
            margin-bottom: 60px;
        }

        .slick-slide {
            transition: opacity 0s 1.4s;
        }

        .slick-active {
            transition: opacity 0s .8s;
        }

        .slick-arrow {
            position: absolute;
            right: 100%;
            z-index: 1;

            margin-right: rem-x2(60);
        }

        .slick-prev {
            top: rem-x2(100);
        }

        .slick-next {
            top: rem-x2(220);
        }
    }
}
