include ../../../title/title
include ../../../icon/icon
include ../../../input/input
include ../../../btn-inner/btn-inner
include ../../../par/par


mixin block-1(data)
    +b.block-1.search__block
        +e.left.search__left
            +logo(logo.mainGray).inner-page__logo

            +title().search__title Результаты поиска

            +b.FORM.form.search__form
                +e.fields
                    +input()._icon

                        +e.BUTTON.submit_search(type='submit' value='')
                            +icon({'icon': 'search', 'class': 'input__icon'})

            +par().search__results-label
                | Найдено 252 записи (17 страниц)
