.icon-link {
    display: inline-block;

    text-decoration: none;
    font-size: rem-x2(38);
    color: #000;
    vertical-align: top;

    &:hover {

        .icon-link__link {
            background: $color-2;

            &::before {
                opacity: 0;
            }
        }
    }

    &__icon {
        margin-right: rem-x2(10);

        opacity: .3;

        &_loader {
            margin-top: rem-x2(-16);
        }
    }

    &__link {
        position: relative;

        display: inline-block;
        padding: rem-x2(10) rem-x2(36);
        padding-left: rem-x2(14);

        vertical-align: middle;

        transition: background-color .4s;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: rem-x2(14);
            right: rem-x2(24);

            height: 1px;

            background: #b1aeaa;

            transition: opacity .4s;
        }
    }
}
