include ../../../inner-page/photo-inner/photo-inner
include ../../../inner-page/par-inner/par-inner
include ../../../title/title

mixin block-1(data)
    +b.block-1.les__block
        +e.left.les__left
            +logo(logo.mainGray).inner-page__logo

            +title().les__title
                +e.__row.les__row-logo LES — Путь 

                +e.__row долговременного роста

            +par-inner()._border-left.les__descr
                | Мы постоянно работаем над улучшением качества наших услуг, поэтому наша компания создала LES – LORUS Excellence System (Система совершенствования ЛОРУС) – философия развития нашей компании на основе приоритетов клиента, уважения к людям и непрерывном улучшении.


        +e.right.les__right
            +photo-inner().les__photo-top.photo-inner__photo-cont_shadow

                +e.photo.les__photo-wrapper.js-tween

                    +e.IMG.__photo_left-yellow(
                        src='%=static=%img/assets/inner-page/photo-inner/les-1.jpg'
                        alt='')

