mixin block-1(data)
    +b.block-1.service__block
        +e.left.service__left
            +title.service__title.block-1__title
                | Регулярный сквозной  сервис из Китая, Кореи и Японии

            +content
                p
                    |Компания «Лорус Эс Си Эм» предлагает комплексное
                    | решение по доставке контейнеров из стран
                    | Азиатско-Тихоокеанского региона в Поволжье
                    | и Центральный регион РФ.
                p
                    | Регулярный железнодорожный транзит и морской фрахт от
                    | ведущих судоходных линий гарантируют доставку точно в срок


        +e.right.service__right
            +e.photo.service__photo-wrapper
                img.service__photo(
                    src='%=static=%img/assets/service/through-service/through-service-1.jpg'
                    alt='')

            +content
                p.block-1__decor
                    | Мы берём на себя все этапы перевозки, включая квалифицированную помощь
                    | с таможенным оформлением (средний срок оформления деклараций – 24 часа)
                    | и оказанием всех видов терминальных и складских услуг.



