.block-1 {
    padding-top: rem(120);
    margin-bottom: rem(95);

    &__left {
        width: rem(380);
        padding-top: rem(120);
        padding-left: rem(20);
    }

    &__right {
        width: rem(520);
    }

    &__photo {
        width: 100%;
        height: rem(260);
        margin-bottom: rem(160);
    }

    &__title {
        margin-bottom: rem(30);

        font-size: rem(43);
    }

    &__decor {
        position: relative;

        padding-left: rem(60);
        padding-right: rem(30);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: rem(40);

            height: 100%;
            width: 1px;

            background-color: #76736B;
            opacity: .6;
        }
    }
}
