.block-1 {
    padding-top: rem(120);
    margin-bottom: rem(100);

    @include below($tablet) {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: rem(25);
        margin-bottom: 0;
    }

    &__left {
        width: rem(380);
        padding-top: rem(120);
        padding-left: rem(20);

        @include below($tablet) {
            padding: 0;
        }
    }

    &__right {
        width: rem(520);

        @include below($tablet) {
            order: -1;

            .content {
                display: none;
            }
        }
    }

    &__photo {
        width: 100%;
        height: rem(260);
        margin-bottom: rem(160);

        @include below($tablet) {
            width: auto;
            margin-bottom: rem(25);
        }
    }

    &__title {
        font-size: rem(43);
    }

    &__decor {
        position: relative;

        padding-left: rem(60);
        padding-right: rem(30);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: rem(40);

            height: 100%;
            width: 1px;

            background-color: #76736B;
            opacity: .6;
        }
    }
}
