mixin list-extend(data)
    +b.list-extend()&attributes(attributes)
        each item in data.items
            +e.item
                +e.text
                    +e.title= item.title
                    +e.descr= item.descr

                +btn({ href: jv0 }).list-extend__link= item.linkText
                
