.write {
    &__form {
        margin-top: rem(65);
    }

    &__submit {
        float: right;
        margin-top: rem(40);

        @include below($tablet) {
            float: none;
            width: 100%;
        }
    }
}
