mixin block-3(data)
    +b.block-3.service__block
        +e.left.service__left
            +title.service__title.block-3__title
                | Доступно и надёжно

            +content
                h4
                    | Подбираем конкурентные ставки
                    | для сохранения Вашего бюджета

                p
                    | Прочные взаимоотношения с партнёрами из числа ведущих
                    | контейнерных и терминальных операторов позволяют нам
                    | предложить нашим клиентам лучшие ставки на все услуги (фрахт,
                    | ЖД-перевозки, терминальная обработка и таможенное
                    | оформление). Все ставки мы фиксируем в рублях для снижения
                    | валютных рисков.



        +e.right.service__right
            +photo({ src: '%=static=%img/assets/service/through-service/through-service-3.jpg' })._theme_simple.service__photo.block-3__photo
