.block-3 {
    margin-bottom: rem(70);

    &__left {
        width: rem(535);
        padding-left: rem(92);
    }

    &__right {
        width: rem(540);
    }

    &__photo {
        width: 100%;
        height: rem(282);
    }

    &__title {
        margin-bottom: rem(30);
    }

}
