include ../icon/icon

mixin line(data)
    +b.line(class={ 'line_css': data.type === 'css' })&attributes(attributes)
    
        if data.type === 'css'
            +e.icon_static
            +e.icon_active
            
        else
            +icon({ icon: `line-${data.name}`, class: 'line__icon line__icon_static' })
            +icon({ icon: `line-${data.name}`, class: 'line__icon line__icon_active' })
            
        block
