.line {
    position: relative;

    pointer-events: none;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    &__icon {
        width: auto;
        height: 100%;

        path {
            stroke: inherit;
            stroke-width: 10px;
            fill: none;
        }


        &_static {
            stroke: #d3d3d3;
        }

        &_active {
            position: absolute;
            top: 0;
            left: 0;

            stroke: $color-2;
        }
    }

    &_css {

        .line__icon {
            height: rem(10);
            width: 100%;

            &_static {
                background: #d3d3d3;
            }

            &_active {
                background: $color-2;

                width: 0;
            }

        }
    }

    &_dashed {

        .line__icon {

            &_static {
                background: linear-gradient(to right, #d3d3d3 50%, transparent 0) repeat-x top left / rem(24) 100%;
            }

            &_active {
                background: linear-gradient(to right, $color-2 50%, transparent 0) repeat-x top left / rem(24) 100%;
            }
        }
    }
}

.explorer,
.edge {
    .line_css .line__icon_active{
        width: 100%;
    }
}
