.line {
    position: relative;

    pointer-events: none;

    &__icon {
        width: 100%;
        height: 100%;

        stroke-width: rem(10);

        &_static {
            stroke: #d3d3d3;
        }

        &_active {
            position: absolute;
            top: 0;
            left: 0;

            stroke: #e0e718;
        }
    }
}
