.line {
    position: relative;

    pointer-events: none;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    &__icon {
        width: auto;
        height: 100%;

        path {
            stroke: inherit;
            stroke-width: 10px;
            fill: none;
        }


        &_static {
            stroke: #d3d3d3;
        }

        &_active {
            position: absolute;
            top: 0;
            left: 0;

            stroke: #e0e718;
        }
    }

    &_css {

        .line__icon {
            height: rem(10);
            width: 100%;

            &_static {
                background: #d3d3d3;
            }

            &_active {
                background: #e0e718;

                transform: scaleX(0);
            }

        }
    }

    &_dir_right {
        .line__icon_active {
            transform-origin: left center;
        }
    }

    &_dir_left {
        .line__icon_active {
            transform-origin: right center;
        }
    }
}

.explorer,
.edge {
    .line_css .line__icon_active{
        transform: none;
    }
}
