.block-3 {
    min-height: rem(585);
    margin-left: rem(102);

    @include below($tablet) {
        min-height: 0;
        margin-left: 0;
        padding-top: rem(30);

        background: #fff;
    }

    &__title {
        max-width: rem(800);

        @include below($tablet) {
            max-width: none;

            font-size: rem(20);
        }
    }

    &__rules {
        margin-top: rem(90);

        @include below($tablet) {
            margin-top: rem(50);
            margin-bottom: rem(15);
        }
    }

    &__cite {
        margin-left: rem(-41);
        margin-top: rem(60);

        @include below($tablet) {
            margin: 0 rem(-30);
        }
    }
}
