include ../made-by/made-by
include ../link/link
include ../line/line
include ../icon/icon

mixin footer(data)
    +b.footer(class={ '_inner': data.inner })&attributes(attributes)
        +line(line.footer).footer__line-m

        +e.wrapper
            if !data.inner
                +e.col
                    +e.item_copyright
                        | 2016 © Lorus SCM<br>
                        | Все права защищены

                +e.col
                    +e.item_phone
                        +e.phone(href='tel:+74957775457') 8 495 777 54 57

                    +e.item_mail
                        +link({ href: 'mailto:test@test.ru' })._theme_fill.footer__mail
                            | Написать нам

                +e.col
                    +made-by

            else

                +e.col
                    +e.item_logo

                +e.col
                    +e.item_phone
                        +e.phone(href='tel:+74957775457') 8 495 777 54 57

                    +e.item_mail
                        +link({href: 'mailto:test@test.ru'})._theme_fill.footer__mail
                            | Написать нам

                +e.col
                    +e.item_copyright
                        | 2016 © Lorus SCM<br>
                        | Все права защищены
