.footer {
    $content-width: rem-2(2134);

    padding-top: rem-2(60);
    padding-bottom: rem-2(70);

    background: #fff;

    &__wrapper {
        @include align-justify();

        padding-left: rem-2(200);
        padding-right: rem-2(200);
    }

    &__col {
        display: inline-block;

        vertical-align: bottom;

        &:last-child {
            margin-left: percentage(100 / 1225);
        }
    }

    &__item {
        position: relative;

        display: inline-flex;
        align-items: flex-end;
        min-height: rem-2(138);

        vertical-align: top;
        color: $color-1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            height: 1px;

            background: currentColor;
        }

        &_copyright {
            font-size: rem-2(29);
            line-height: 1.4;

            &::before {
                width: rem-2(170);
            }
        }

        &_phone {
            margin-right: rem-2(188);

            &::before {
                width: rem-2(126);
            }
        }

        &_mail {

            &::before {
                width: rem-2(60);
            }
        }
    }

    &__phone {
        color: inherit;
        text-decoration: none;
        font-size: rem-2(32);
    }

    &__mail {
        font-size: rem-2(32);
    }
}
