.btn-inner {
    height: rem(57);
    padding: 0 rem(45);
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);

    color: #5a5c1c;
    font-size: rem(19);
    line-height: rem(57);
    text-transform: uppercase;

    border-radius: rem(7);
    background-color: #e2e73e;

    transition: .1s;

    &:active {
        margin-top: 3px;
        height: rem(53);
        border-bottom-width: 1px;
        margin-bottom: 1px;
    }

    &:focus {
        outline: none;
    }
}
