.btn-inner {
    height: rem(60);
    padding: 0 rem(50);
    background-color: #e2e73e;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    color: #5a5c1c;
    font-size: rem(19);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: rem(7);
    transition: .1s;

    &:active {
        margin-top: 3px;
        height: rem(56);
        border-bottom-width: 1px;
        margin-bottom: 1px;
    }

    &:focus {
        outline: none;
    }
}
