include ../../../title/title
include ../../../list/list
include ../../../share/share

mixin block-4(data)
    +b.block-4.academy__block

        +title({'tag': 'h3'})._inner.academy__team-title
            | Хорошо подготовленная команда — залог успеха!

        +list(list.academyTeam)._horiz-photo.academy__team-list

        +share().academy__share
            +e.img(src='%=static=%img/assets/share/dummy.jpg')
