.block-4 {

    &__left {
        width: rem(475);
    }

    &__right {
        width: rem(605);
        padding-right: rem(90);
    }

    &__photo {
        width: 100%;
        height: rem(315);
        margin-top: rem(60);
    }

    &__decorh {
        padding-bottom: rem(20);
    }

    &__decorp {

        padding-left: rem(30);
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: rem(4);
            content: '';
            background-color: #E3EC3A;
            height: 100%;
            width: 3px;

        }
    }

    &__title {
        font-size: rem-2(76);
        font-weight: 400;
    }
}
