mixin block-4(data)
    +b.block-4.service__block

        +e.left.service__left
            +e.photo.service__photo-wrapper
                img.service__photo(
                    src='%=static=%img/assets/service/through-service/through-service-4.jpg'
                    alt='')

        +e.right.service__right
            +title.service__title.block-4__title
                | Гибкий подход

            +content
                h4.block-4__decorh
                    | Гарантируем качественный сервис
                    | независимо от масштаба заказа
                p.block-4__decorp
                    | Принимаем заказы на перевозку грузов, начиная от 1 контейнера
                    | (полная загрузка поезда составляет 71 вагон). Доставка осуществляется
                    | на один из четырех терминалов Московского региона: Ворсино, Кунцево,
                    | Павелецкая, Купавна.
                    | Организуем доставку груза «до двери».




