.vacancies-inner {
    &__item {
        padding-top: rem(30);
        padding-bottom: rem(40);
        border-bottom: 1px solid #efefef;

        @include clearfix();
    }

    &__text {
        display: inline-block;
        width: calc(100% - #{rem(205)});
    }

    &__link {
        padding-left: rem(27);
        padding-right: rem(27);
        margin-top: rem(27);
    }

    &__title {
        font-size: rem(21);
        font-weight: 300;
    }

    &__descr {
        margin-top: rem(21);
        max-width: rem(530);
        font-size: rem(16);
        font-weight: 400;
    }
}
