.logo {
    display: inline-block;

    vertical-align: middle;
    line-height: 0;

    &__img {
        max-width: 100%;
    }

    &_gray {
        position: relative;

        .logo__img {
            position: relative;

            opacity: 0;

            transition: opacity .4s;
            will-change: opacity;

            &_gray {
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity .8s;
                //z-index: -1 ;

                opacity: 1;
            }
        }

        &:hover {

            .logo__img {
                opacity: 1;

                &_gray {
                    opacity: 0;
                }
            }
        }
    }
}
