include ../../../inner-page/pagination-inner/pagination-inner

mixin block-3(data)
    +b.block-3.search__block
        +pagination-inner(paginationInner.base).pagination-inner_gray-skew.search__pagination-list 
 