include ../../../list/list
include ../../../par/par

mixin block-3(data)
    +b.block-3.inner-page__block

        +par()._border-left.block-3__photos-before
            | Внедрение стандартов является одним из наиболее важных шагов для непрерывного улучшения – оценить рост возможно только хорошо зная текущую ситуацию. Визуальный менеджмент и инструменты KAIZEN помогают ускорить коммуникации, повысить качество, решить проблемы и снизить потери. Наша опытная команда постоянно работает над улучшением ключевых показателей производительности и времени. Наши цели – лучшее соотношение цена/качество, кратчайшие сроки и высочайший уровень безопасности и мотивации для людей.

        +list(list.lesPhotos)._horiz-photo._margin-l._shadow.block-3__photos-list

        +par().block-3__photos-after
            | Управление качеством для наших клиентов означает контроль соблюдения стандартов, определение и следование ключевым показателям качества, проведение совещаний по качеству, регулярных аудитов и использование MRP – методологии решения проблем – для быстрого внедрения предупреждающих и корректирующих действий.

