include ../../header/header
include ../../icon-link/icon-link
include ../../info/info-list/info-list

mixin screen-home(data)
    +b.screen-home()&attributes(attributes)
        +header(header.default).screen-home__header
        
        +e.content
            +e.labels
                -var labels = ['logistics', 'pl', 'engineering'];
                each label in labels
                    +icon-link(iconLink.homeScreen[label]).screen-home__label
                    
            +info-list(infoList.default).screen-home__slider
