.screen-home {
    $pr: 252;
    $pl: 84;

    position: relative;

    background: $color-3;

    &__line {
        position: absolute;
        top: rem-2(-12);
        right: 0;

        height: rem(168);
        width: rem(588);
    }

    &__content {
        padding: rem-2(160) rem-2($pl);
        padding-right: rem-2($pr);
    }

    &__labels {
        margin-bottom: rem-2(130);
        padding-left: rem-2(130);
    }

    &__label {
        display: inline-block;
        align-items: center;

        vertical-align: middle;

        &:not(:last-child) {
            margin-right: rem-2(200);
        }
    }

    &__slider {

        .slick-list {
            margin-left: rem-2(-$pl);
            margin-right: rem-2(-$pr);
            padding-left: rem-2($pl + 70);
            padding-right: rem-2($pr + 14);
        }
    }

    &__scroll {
        position: absolute;
        right: rem-2(130);
        bottom: rem-2(86);
    }
}
