.screen-home {
    $content-width: rem-x2(2190);

    position: relative;

    background: $color-3;

    &__line {
        position: absolute;
        top: 0;
        right: 0;

        width: rem-x2(1222);
        height: rem-x2(368);
    }

    &__content {
        padding: rem-x2(160) calc(50% - #{$content-width} / 2);
    }

    &__labels {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem-x2(130);
    }

    &__label {
        display: inline-flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 rem-x2(74);

        vertical-align: middle;
    }

    &__slider {
        padding-right: rem-x2(40);
    }

    &__scroll {
        position: absolute;
        right: calc(50% - #{rem-x2(2335)} / 2);
        bottom: rem-x2(86);
    }
}
