.block-2 {
    min-height: rem(425);
    margin-left: rem(100);

    @include below($tablet) {
        min-height: 0;
        margin-left: 0;
        padding-top: rem(15);
        padding-bottom: rem(20);
    }

    &__offers-wrap {
        margin-top: rem(44);
        margin-left: rem(-64);
    }

    &__offers {
        display: table-row;
        vertical-align: middle;
        font-size: 0;
    }

    &__offers-col {
        display: table-cell;
        vertical-align: top;
        padding-left: rem(40);
        width: percentage(1/3);

        &:last-child {
            vertical-align: middle;
        }
    }
}
