.screen-about {
    position: relative;

    padding-top: rem-x2(124);

    background: $color-3;
    background: linear-gradient(-58deg, $color-3 32rem, #efefef 0, #efefef 55rem, $color-3 0);

    &__header {
        margin-bottom: rem-x2(70);
    }

    &__top {
        padding-left: rem-x2(480);
    }

    &__line {
        position: absolute;
        top: rem-x2(318);
        left: -2px;
        z-index: 2;

        width: rem-x2(2220);
        height: rem-x2(1408);
    }

    &__title {
        margin-bottom: rem-x2(180);
    }

    &__content {
        width: rem-x2(800);
        margin-bottom: rem-x2(240);
    }

    &__photo {
        position: absolute;
        top: rem-x2(164);
        right: 0;
        z-index: 2;
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        padding: rem-x2(270) rem-x2(138)  rem-x2(80) rem-x2(234);
        background: #fff;
    }
}
