.screen-about {
    position: relative;

    padding-top: rem(124);

    background: $color-3;
    background: linear-gradient(-55deg, $color-3 33%, #efefef 0, #efefef 50%, $color-3 0);

    &__header {
        margin-bottom: rem(70);
    }

    &__top {
        padding-left: rem(480);
    }

    &__title {
        margin-bottom: rem(180);
    }

    &__content {
        width: rem(800);
        margin-bottom: rem(240);
    }

    &__photo-wrapper {
        position: absolute;
        top: rem(130);
        right: 0;
        z-index: 2;

        height: rem(1000);
    }

    &__photo {
        height: 100%;
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        padding: rem(270) rem(138)  rem(80) rem(234);
        background: #fff;
    }
}
