include ../../title/title
include ../../content/content
include ../../line/line
include ../../stats/stats
include ../../clip-img/clip-img

mixin screen-about(data)
    +b.SECTION.screen-about()&attributes(attributes) 
        +e.top
            +title.screen-about__title
                | О компании
                
            +content.screen-about__content
                p
                    | Лорус Эс Си Эм – один из ведущих 4PL провайдеров логистических 
                    | услуг, эксперт в области логистики производственных предприятий. 
                    | Компания обладает компетенциями в области управления цепочками 
                    | поставок и разработки решений по оптимизации логистических процессов 
                    | предприятия, отраслевой экспертизой и собственной инфраструктурой.
                    
            +clip-img({ 
                src: '%=static=%img/assets/screens/screen-about/about-photo.jpg' 
                })._shape_trapeze.screen-about__photo
                
        +line(line.about1).screen-about__line_1
        +line(line.about2)._dir_right.screen-about__line_2
        +line(line.about3).screen-about__line_3

        +e.bottom
            +stats(stats.default).screen-about__stats
