include screen-home/screen-home
include screen-about/screen-about
include screen-mission/screen-mission
include screen-advantages/screen-advantages
include screen-team/screen-team

mixin screens(data)
    +b.screens()&attributes(attributes)
        each screen in data.screens
            +#{screen}.screens__item
