@import './screen-home/screen-home';
@import './screen-about/screen-about';
@import './screen-mission/screen-mission';
@import './screen-advantages/screen-advantages';
@import './screen-team/screen-team';

.screens {
    position: relative;

    width: 200%;

    &__row {
        @include clearfix();

        &_dir_left {

            .screens__item {
                float: right;
            }
        }
    }

    &__header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        background: transparent;
        opacity: 0;
        visibility: hidden;
    }

    &__item {
        height: 100vh;
        width: 50%;
        float: left;
    }
}
