@import './screen-home/screen-home';
@import './screen-about/screen-about';
@import './screen-mission/screen-mission';
@import './screen-advantages/screen-advantages';
@import './screen-team/screen-team';

.screens {
    position: relative;

    width: 100%;

    &__scroll {
        @include below($tablet) {
            display: none;
        }
    }

    &__scene {
        height: 100vh;

        &:not(:last-child) {
            margin-bottom: 25vh;
        }
    }

    &__inner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        width: 200%;

        transition: filter .4s;
        will-change: transform, filter;

        @include below($tablet) {
            position: relative;

            width: 100%;

            transition: none;
        }
    }

    &__row {
        @include clearfix();

        &_dir_left {

            .screens__item {
                float: right;
            }

            @include below($tablet) {

                .screens__item {
                    float: none;
                }
            }
        }
    }

    &__item {
        height: 100vh;
        width: 50%;
        float: left;

        @include below($tablet) {
            float: none;
            width: 100%;
            height: auto !important;
            padding-left: rem(25);
            padding-right: rem(25);

            &:nth-child(odd) {
                background: $color-3;
            }

            &:nth-child(even) {
                background: #fff;
            }
        }
    }
}
