include screen-home/screen-home
include screen-about/screen-about
include screen-mission/screen-mission
include screen-advantages/screen-advantages
include screen-team/screen-team

mixin screens(data)
    +b.screens()&attributes(attributes)
        +e.scroll
            +e.scene#home
            +e.scene#about
            +e.scene#mission
            +e.scene#advantages
            +e.scene#team
        
        +e.inner.js-tween
            +e.row(data-direction='right')
                +screen-home.screens__item
                +screen-about.screens__item
            +e.row_dir_left(data-direction='left')
                +screen-mission.screens__item
                +screen-advantages.screens__item
            +e.row
                +screen-team.screens__item
        
