include screen-home/screen-home
include screen-about/screen-about
include screen-mission/screen-mission
include screen-advantages/screen-advantages
include screen-team/screen-team

mixin screens(data)
    +b.screens()&attributes(attributes)
        +e.row
            +screen-home.screens__item.screens__horizontal(data-anchor='home')
            +screen-about.screens__item.screens__horizontal(data-anchor='about')
        +e.row_dir_left
            +screen-mission.screens__item.screens__horizontal.active(data-anchor='mission')
            +screen-advantages.screens__item.screens__horizontal(data-anchor='advantages')
        +e.row
            +screen-team.screens__item
            
