.search-page {
    border-bottom: 2px solid #e7e7e7;

    @import './block-1/block-1';
    @import './block-2/block-2';
    @import './block-3/block-3';

    &__line {
        position: absolute;

        font-size: rem(15.4);

        &_1 {
            top: 0;
            right: rem(-40);

            height: rem(916);
            width: rem(230);
            overflow: hidden;
        }
    }
}
