.search-page {
    @import './block-1/block-1';
    @import './block-2/block-2';
    @import './block-3/block-3';

    &__line {
        position: absolute;

        font-size: rem(15.4);

        &_1 {
            top: 0;
            right: rem(-40);

            height: rem(915);
            width: rem(232);
        }
    }
}
