include ../content/content
include ../btn/btn
include ../decor-title/decor-title

mixin info(data)
    +b.ARTICLE.info()&attributes(attributes)
        +decor-title(data.title).info__title
        +content.info__content!= data.content

        +btn.info__btn
            | Подробнее
        
        +e.img-set
            +e.img-shadow
            +e.img-wrapper(href=jv0)
                +e.IMG.img(src=`${data.img.src}.${data.img.format}`
                           alt=data.img.alt)
