mixin input(data)

    -data = data || {}

    +b.LABEL.input()&attributes(attributes)

        if data.label
            +e.label= data.label

        -var tag
        -if (data.type == 'textarea') {
        -    tag = 'textarea'
        -}

        +e(tag || 'input').field(class=((data.type!='textarea' ? '_input' : '_textarea') + (data.fieldHidden ? ' _hidden' : '')) type=(data.type!='textarea' ? data.type : ''))

        block
