@import './fading_exits/fadeOutLeft';
@import './fading_entrances/fadeInRight';

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;

    &.infinite {
        animation-iteration-count: infinite;
    }

    &.hinge {
        animation-duration: 2s;
    }

    &.flipOutX,
    &.flipOutY,
    &.bounceIn,
    &.bounceOut {
        animation-duration: .75s;
    }
}
