.title {
    margin: 0;

    font-size: rem-2(90);
    font-weight: 300;

    @include below($tablet) {
        font-size: rem(43);
    }

    &__bold {
        font-weight: 600;
    }

    &__row {
        display: block;
    }

    &_underline {
        position: relative;

        padding-bottom: rem-2(70);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: rem-2(168);
            height: 1px;

            background: currentColor;
        }
    }

    &_inner {
        font-size: rem(34);
        font-weight: 300;

        @include below($tablet) {
            font-size: rem(33);
        }
    }

    &_top-yellow {
        display: inline-block;
        margin-left: rem(-17);
        padding: rem(17) rem(34) rem(17) rem(17);
        border-top: rem(6) solid $color-2;

        @include below($tablet) {
            margin-left: 0;
            padding: 0;
            border-top: none;
        }
    }

    &_left-yellow {
        padding: rem(15) rem(23);
        border-left: rem(8) solid $color-2;

        font-weight: 400;

        border-radius: rem(5);
    }
}
