.search-mini {
    position: relative;

    display: inline-block;

    vertical-align: top;

    &__field {
        display: inline-block;
        width: 0;
        height: rem(60);
        margin-right: rem(10);
        padding: 0;
        border: 1px solid #555;

        vertical-align: middle;

        border-radius: 4px;
        transform: scaleX(0);
        transform-origin: right center;

        transition: transform .5s, padding .5s, width 0s .5s;

        &:focus {
            width: rem(400);
            padding: 0 rem(20);

            outline: none;
            transform: scaleX(1);

            transition: transform .5s, padding .5s;
        }
    }

    &__icon {
        cursor: pointer;
    }
}
