include ../icon/icon
include ../screenreader/screenreader

mixin search-mini(data)
    -data = data || {}

    +b.LABEL.search-mini()&attributes(attributes)
        form
            +e.INPUT.field(type='search' name=(data.name || 'search') placeholder=(data.placeholder || 'Поиск'))
            +icon({ icon: 'search', class: 'search-mini__icon' })
            +e.BUTTON.submit(type='submit')
        block
