.search-mini {
    position: relative;

    display: inline-block;

    vertical-align: top;

    &__field {
        display: inline-block;
        width: rem-2(400);
        height: rem-2(60);
        padding: 0;
        border: 1px solid $color-1;

        vertical-align: middle;

        background: transparent;
        border-radius: 4px;
        transform: scaleX(0) translateX(0);
        transform-origin: right center;

        transition: transform .5s, padding .5s;

        &:focus {
            padding: 0 rem-2(20);

            outline: none;
            transform: scaleX(1) translateX(rem-2(-15));

            transition: transform .5s, padding .5s;

            ~ .search-mini__submit {
                visibility: visible;
            }
        }
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        width: rem-2(52);
        height: rem-2(52);
        padding: 0;

        opacity: 0;
        visibility: hidden;

        transition: visibility 0s .5s;
    }

    &__icon {
        cursor: pointer;
    }
}
