.block-4 {

    @include below($tablet) {
        min-height: 0;
        margin-left: 0;
        padding-top: rem(50);
        padding-bottom: rem(40);
    }

    &__title {
        max-width: rem(585);

        @include below($tablet) {
            max-width: none;

            font-size: rem(20);
        }
    }

    &__team {
        margin: rem(70) 0 0 rem(-50);

        @include below($tablet) {
            margin-top: rem(35);
            margin-left: 0;

            .slick-list {
                overflow: visible;
            }
        }
    }

    &__photo-wrapper {
        display: inline-block;

        vertical-align: top;

        &:not(:last-child) {
            margin-right: rem(30);
        }
    }

    &__photo {
        height: rem(158);

        border-radius: 10px;
    }
}
