include ../../../title/title
include ../../../list/list
include ../../../slider/slider
include ../../../share/share

mixin block-4(data)
    +b.block-4.inner-page__block

        +title({'tag': 'h3'})._inner.inner-page__subtitle_photos.block-4__title
            | Хорошо подготовленная команда — залог успеха!

        +slider(slider.academyTeam).inner-page__photos.block-4__team.gallery
            -var i = 1;
            while i <= 4
                +e.A.item.block-4__photo-wrapper.gallery__item(href='%=static=%img/assets/inner-page/academy-page/team-#{i}.jpg')
                    img.block-4__photo(src=`%=static=%img/assets/inner-page/academy-page/team-${i}.jpg` alt='')
                -i++

        +share(share.default).inner-page__share
