.decor-title {
    $base-font: 70;

    margin: 0;

    font-size: rem-x2($base-font);

    &__row {
        display: table;
        padding: 0 em(100, $base-font);
        padding-left: em(44, $base-font);

        background: #fff;

        &:first-child {
            padding-top: rem-x2(16);
        }

        &:last-child {
            padding-bottom: rem-x2(16);
        }
    }
}
