.icon {
    display: inline-block;

    vertical-align: middle;

    fill: none;
    stroke: currentColor;

    &_fill {
        fill: currentColor;
        stroke: none;
    }

    &_search {
        width: em(52/2);
        height: em(52/2);

        stroke-width: 3px;
    }

    &_loader {
        width: rem-2(125);
        height: rem-2(114);
    }

    &_pl {
        width: rem-2(140);
        height: rem-2(84);
    }

    &_chart {
        width: rem-2(64);
        height: rem-2(91);
    }

    &_arrow {
        width: em(26/2);
        height: em(34/2);

        stroke-width: 3px;
    }

    &_mouse {
        width: em(56/2);
        height: em(90/2);
    }

    &_figure-arrow {
        width: em(26/2);
        height: em(40/2);
    }

    &_flag {
        width: em(100/2);
        height: em(232/2);
    }

    &_ship {
        width: em(174/2);
        height: em(120/2);
    }

    &_calendar {
        width: em(92);
        height: em(48);
    }

    &_money {
        width: em(97);
        height: em(41);
    }

    &_increase,
    &_decrease {
        width: rem(22);
        height: rem(22);
    }
}
