.icon {
    display: inline-block;

    vertical-align: middle;

    fill: none;
    stroke: currentColor;

    &_fill {
        fill: currentColor;
        stroke: none;
    }

    &_search {
        width: rem(52);
        height: rem(52);

        stroke-width: 3px;
    }

    &_loader {
        width: rem(125);
        height: rem(114);
    }

    &_pl {
        width: rem(140);
        height: rem(84);
    }

    &_chart {
        width: rem(64);
        height: rem(91);
    }

    &_arrow {
        width: rem(26);
        height: rem(34);

        stroke-width: 3px;
    }

    &_mouse {
        width: rem(56);
        height: rem(90);
    }

    &_figure-arrow {
        width: rem(26);
        height: rem(40);
    }
}
