.icon {
    display: inline-block;

    vertical-align: middle;

    fill: none;
    stroke: currentColor;

    &_fill {
        fill: currentColor;
        stroke: none;
    }

    &_search {
        width: em(52/2);
        height: em(52/2);

        stroke-width: 3px;
    }

    &_loader {
        width: em(125/2);
        height: em(114/2);
    }

    &_pl {
        width: em(140/2);
        height: em(84/2);
    }

    &_chart {
        width: em(64/2);
        height: em(91/2);
    }

    &_arrow {
        width: em(26/2);
        height: em(34/2);

        stroke-width: 3px;
    }

    &_mouse {
        width: em(56/2);
        height: em(90/2);
    }

    &_figure-arrow {
        width: em(26/2);
        height: em(40/2);
    }

    &_flag {
        width: em(100/2);
        height: em(232/2);
    }

    &_ship {
        width: em(174/2);
        height: em(120/2);
    }

    &_calendar {
        width: em(92);
        height: em(48);
    }

    &_money {
        width: em(97);
        height: em(41);
    }
}
