mixin block-1(data)
    +b.block-1()&attributes(attributes).inner-page__block_first
        +photo({src: '%=static=%img/assets/photo/career-1.jpg'}).inner-page__main-photo

        +e.content.inner-page__descr
            +title().inner-page__title Консалтинг и проектирование

            +par()._border-left
                | Вводный текст об услуге и так адлее. Вводный текст об услуге и так адлее.
                | Вводный текст об услуге и так адлее. Вводный текст об услуге и так адлее.
                | Вводный текст об услуге и так адлее. Вводный текст об услуге и так адлее.