.clip-img {
    position: relative;

    box-sizing: content-box;

    font-size: rem-2(10);

    &__clip {
        width: 100%;
        height: 100%;

        overflow: hidden;
    }

    &__wrapper {
        width: 100%;
        height: 100%;

        overflow: hidden;
    }

    &__img {
        width: 125%;
        height: 125%;

        @include object-fit(cover);
    }

    &_shape_trapeze {
        width: 145em;
        height: 100em;
        box-sizing: content-box;
        padding-bottom: rem(50);

        // overflow: hidden;

        .clip-img__shadow {
            position: absolute;
            left: percentage(-235 / 695);
            bottom: percentage(-100 / 485);
            z-index: -1;

            width: percentage(1225 / 695);
            height: percentage(345 / 485);

            background: url('%=static=%assets/clip-img/shadow-trapeze.png') center center / 100% 100%;
            pointer-events: none;
        }

        .clip-img__wrapper {
            position: relative;
            left: 35em;

            text-align: right;

            transform: skew(-30deg);
        }

        .clip-img__img {
            transform: skew(30deg);
        }
    }

    &_shape_hexagon {
        position: relative;

        width: 130em;
        height: 87em;
        padding-bottom: rem(40);

        // overflow: hidden;

        .clip-img__shadow {
            position: absolute;
            bottom: percentage(-190 / 415);
            right: percentage(-68 / 630);
            z-index: -1;

            width: percentage(460 / 630);
            height: percentage(758 / 415);

            background: url('%=static=%assets/clip-img/shadow-hexagon.png') center center / 100% 100%;
            pointer-events: none;
            transform: rotate(19deg);
        }

        .clip-img__wrapper {
            position: relative;

            transform: skew(-40deg);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 2;

                width: rem-2(104);

                background: #3f76a0;
                transform: skew(40deg);
            }
        }

        .clip-img__img {
            transform: skew(40deg);
        }
    }

    &_pos_left {

        .clip-img__img {
            position: absolute;
            left: 0;
        }
    }

    &_pos_right {

        .clip-img__img {
            position: absolute;
            right: 0;
        }
    }

    &_pos_bottom {

        .clip-img__img {
            position: absolute;
            bottom: 0;
        }
    }

    &_pos_top {

        .clip-img__img {
            position: absolute;
            top: 0;
        }
    }
}
