.prototype-page {
    &__line {
        position: absolute;

        &_1 {
            right: rem(-33);
            top: rem(-340);

            width: rem(160);
            height: rem(731);
        }

        &_2 {
            right: rem(-45);
            bottom: rem(1150);

            width: rem(44);
            height: rem(268);
        }

        @include below($tablet) {
            display: none;
        }
    }
}
