.prototype-page {

    @include above($tablet) {
        padding-left: rem(30);
    }

    &__line {
        position: absolute;

        &_1 {
            right: rem(-33);
            top: rem(-340);

            width: rem(160);
            height: rem(731);
        }

        &_2 {
            right: rem(-45);
            bottom: rem(1150);

            width: rem(44);
            height: rem(268);
        }

        @include below($tablet) {
            display: none;
        }
    }

    &__photo {
        height: rem(258);

        &_big {
            height: rem(350);
        }
    }

    &__block {
        margin-bottom: rem(75);
    }
}
