.header {
    $menu-width: 420/806*100+vh;

    position:fixed;
    z-index: 100;

    display: flex;
    align-items: flex-start;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;

        height: 0;

        background: rgba(0, 0, 0, 0);
    }

    &__logo {
        display: inline-block;
        width: rem-2(452);
        margin-right: rem-2(154);

        vertical-align: top;
    }

    &__nav {
        display: inline-block;
        width: rem-2(740);
        margin: rem-2(-38) rem-2(-20);
        margin-top: rem-2(-14);

        vertical-align: top;
    }

    &__nav-item {
        width: 50%;
        padding: rem-2(38) rem-2(20);
    }

    &__right {
        margin-left: auto;
    }

    &__search {
        display: inline-block;
        margin-right: rem-2(62);

        vertical-align: middle;
    }

    &__lang {
        display: inline-block;

        vertical-align: middle;
    }

    &__nav-btn {

        .icon-btn__icon {
            transition: transform .4s;
        }

        &_top {
            .icon-btn__icon {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        &_left {
            .icon-btn__icon {
                transform: translate(-50%, -50%) rotate(0);
            }
        }

        &_right {
            .icon-btn__icon {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }

    &__hamburger {
        position: relative;
        z-index: 3;
    }

    &__slide-menu {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        width: $menu-width;
    }

    &_theme_default {
        position: relative;
        z-index: 10;

        padding: rem-2(100) rem-2(150) 0 rem-2(100);
    }

    &_theme_screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        visibility: hidden;

        transition: visibility 0s .4s;

        .header__left {
            transform: translateX(-100%);

            transition: transform .4s;
        }

        .header__right {
            transform: translateX(100%);

            transition: filter .4s, transform .4s;
        }

        &.header_show {
            visibility: visible;

            transition: none;

            .header__left,
            .header__right {
                transform: translateX(0);
            }
        }
    }

    &_overlay {

        &::after {
            left: $menu-width;

            height: 100vh;

            background: rgba(0, 0, 0, .5);

            transition: background .4s .4s;
        }

        .header__right {
            filter: blur(5px);
        }
    }

    &_theme_inner {
        display: block;
    }
}
