.header {
    $content-width: rem(2335);

    display: flex;
    align-items: flex-start;

    &__logo {
        display: inline-block;
        width: rem(452);
        margin-right: rem(154);

        vertical-align: top;
    }

    &__nav {
        display: inline-block;
        width: rem(740);
        margin: rem(-38) rem(-20);
        margin-top: rem(-14);

        vertical-align: top;
    }

    &__nav-item {
        width: 50%;
        padding: rem(38) rem(20);
    }

    &__right {
        margin-left: auto;
    }

    &__search {
        display: inline-block;
        margin-right: rem(62);

        vertical-align: middle;
    }

    &__lang {
        display: inline-block;

        vertical-align: middle;
    }

    &__nav-btn {
        transition: transform .4s;
    }

    &_theme_default {
        padding: rem(100) calc(50% - #{$content-width} / 2) 0;
    }

    &_theme_screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        visibility: hidden;

        transition: visibility 0s .4s;

        .header__left {
            transform: translateX(-100%);

            transition: transform .4s;
        }

        .header__right {
            transform: translateX(100%);

            transition: transform .4s;
        }

        &.header_show {
            visibility: visible;

            transition: none;

            .header__left,
            .header__right {
                transform: translateX(0);
            }
        }
    }

    &_nav_top {
        .header__nav-btn {
            transform: rotate(90deg);
        }
    }

    &_nav_left {
        .header__nav-btn {
            transform: rotate(0);
        }
    }

    &_nav_right {
        .header__nav-btn {
            transform: rotate(180deg);
        }
    }
}
