.header {
    display: flex;
    align-items: flex-start;
    position:fixed;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;

        height: 0;

        background: rgba(0, 0, 0, 0);
        transform: scale(0);
        border-radius: 50%;

        transition: transform .4s, border-radius .4s, background .4s;
    }

    &__logo {
        display: inline-block;
        width: rem-2(452);
        margin-right: rem-2(154);

        vertical-align: top;
    }

    &__nav {
        display: inline-block;
        width: rem-2(740);
        margin: rem-2(-38) rem-2(-20);
        margin-top: rem-2(-14);

        vertical-align: top;
    }

    &__nav-item {
        width: 50%;
        padding: rem-2(38) rem-2(20);
    }

    &__right {
        margin-left: auto;
    }

    &__search {
        display: inline-block;
        margin-right: rem-2(62);

        vertical-align: middle;
    }

    &__lang {
        display: inline-block;

        vertical-align: middle;
    }

    &__nav-btn {
        transition: transform .4s;
    }

    &__hamburger {
        position: relative;
        z-index: 3;
    }

    &__slide-menu {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    &_theme_default {
        position: relative;
        z-index: 10;

        padding: rem-2(100) rem-2(150) 0 rem-2(100);
    }

    &_theme_screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        visibility: hidden;

        transition: visibility 0s .4s;

        .header__left {
            transform: translateX(-100%);

            transition: transform .4s;
        }

        .header__right {
            transform: translateX(100%);

            transition: filter .4s, transform .4s;
        }

        &.header_show {
            visibility: visible;

            transition: none;

            .header__left,
            .header__right {
                transform: translateX(0);
            }
        }
    }

    &_theme_inner {
        display: block;
        
        .header__nav-btn {
            display: block;
        }
    }

    &_nav_top {
        .header__nav-btn {
            transform: rotate(90deg);
        }
    }

    &_nav_left {
        .header__nav-btn {
            transform: rotate(0);
        }
    }

    &_nav_right {
        .header__nav-btn {
            transform: rotate(180deg);
        }
    }

    &_overlay {

        &::after {
            left: rem-2(882);

            height: 100vh;

            background: rgba(0, 0, 0, .8);
            border-radius: 0;
            transform: scale(1);
        }

        .header__right {
            filter: blur(5px);
        }
    }
}
