.hamburger {
    @include hide-text();

    &__line {
        width: rem(42);
        height: rem(6);

        background: currentColor;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;

            height: 100%;
            background: inherit;
        }

        &::before {
            bottom: 100%;
            margin-bottom: rem(10);
        }

        &::after {
            top: 100%;
            margin-top: rem(10);
        }
    }
}
