include ../icon-btn/icon-btn

mixin hamburger(data)
    +b.hamburger&attributes(attributes)
        +icon-btn._theme_inverse.hamburger__inner
            +e.icon.hamburger__line
            | Открыть меню
