.form {
    @include clearfix();

    &__row {
        @include clearfix();

        & + .form__row {
            margin-top: rem(34);
        }

        &_col {
            margin-left: rem(-44);
        }

        &_2 {
            .form__col {
                width: 50%;
            }
        }
    }

    &__col {
        float: left;
        padding-left: rem(44);

        & + .form__col {
            margin-left: 0;
        }
    }

    &__fields {
        display: inline-block;
        vertical-align: bottom;
        width: rem(668);

        &_left {
            //float: left;
        }
    }

    &__submit {
        display: inline-block;
        vertical-align: bottom;
        &_left {
            margin-left: rem(43);
        }
    }
}
