.screen-mission {
    position: relative;

    padding-bottom: rem-2(70);
    padding-top: rem-2(124);

    background: url('%=static=%assets/screens/screen-mission/bg-mission.svg') no-repeat right 100% / auto 100%;

    &::before {
        position: absolute;
        top: 21.5vh;
        right: 73.1vh;
        z-index: 3;

        width: calc(.78 * (calc(27.1875rem - 40px)));
        height: calc(27.1875rem - 40px);

        content: '';

        background: url('%=static=%assets/screens/screen-mission/shadow.svg') no-repeat;

        pointer-events: none;
    }

    &__nav-btn {
        transform: rotate(90deg);
    }

    &__title {
        margin-top: rem-2(-50);
        margin-left: rem-2(234);
        margin-bottom: rem-2(188);
    }

    &__subtitle {
        position: absolute;
        top: rem-2(466);
        z-index: 3;

        margin-left: rem-2(66);

        filter: drop-shadow(0 10px 40px rgba(0, 0, 0, .2));
        transform: translate3d(0, 0, 0); // костыль для хрома, чтобы картинка не перекрывала заголовок при анимации
    }

    &__line {
        position: absolute;

        z-index: 1;

        &_1 {
            top: 0;
            right: percentage(170/1225);

            width: rem-2(1030);
            height: rem-2(1120);
            margin-right: rem-2(-242);
        }

        &_2 {
            left: 0;
            top: rem-2(996);
            right: calc(#{percentage(170/1225)} + #{rem-2(1030 - 250)});

            height: rem-2(18);

            overflow: hidden;
        }
    }

    &__flag {
        position: absolute;
        top: rem-2(340);
        left: rem-2(326);
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 rem-2(132);
    }

    &__text-col {
        position: relative;

        padding: rem-2(80) rem-2(86);
        width: percentage(930 / (2555 - 132 * 2));

        &::before {
            content: '';
            position: absolute;
            top: 0;

            width: rem-2(170);
            height: 1px;

            background: currentColor;
        }

        &_theme_plate {
            border: 1px solid;

            &::before {
                display: none;
            }
        }
    }

    &__photo {
        z-index: 2;

        width: percentage(630/1225);
        height: rem-2(870);
        margin-left: rem-2(144);

        transform: translate3d(0, 0, 0);
    }
}
