include ../../title/title
include ../../line/line
include ../../icon/icon
include ../../content/content
include ../../clip-img/clip-img
include ../../mobile-photo/mobile-photo
include ../../decor-title/decor-title

mixin screen-mission(data)
    +b.SECTION.screen-mission()&attributes(attributes)
        +title.screen-mission__title
            | Миссия компании
            
        +decor-title({ tag: 'div', rows: [
            'Поднять Ваш бизнес ', 'на новую высоту'
        ]}).screen-mission__subtitle
        
        +mobile-photo({ 
            src: '%=static=%img/assets/screens/screen-mission/mission-photo.jpg' 
            }).screen-mission__mobile-photo
        
        +clip-img({
            src: '%=static=%img/assets/screens/screen-mission/mission-photo.jpg'
        })._shape_hexagon._pos_bottom._pos_right._sunlight.screen-mission__photo
        
        +line(line.mission1).screen-mission__line_1
            +icon({ icon: 'flag', class: 'screen-mission__flag' })
        +line(line.mission2).screen-mission__line_2
        
        +e.content
            +e.text-col
                +content
                    p
                        | Для этого мы используем лучшие логистические решения и 
                        | инновационный подход, добиваемся экспертного лидерства 
                        | на рынке и наращиваем собственные активы.
                        
            +e.text-col_theme_plate
                +content
                    p
                        | Мы не просто организовываем поставки.<br> Наша цель —  
                        | оптимизировать работу вашего предприятия, снизить 
                        | издержки и открыть новые возможности для роста.
