.screen-mission {
    position: relative;

    padding-bottom: rem(70);
    padding-top: rem(124);

    background: url('%=static=%assets/screens/screen-mission/bg-mission.svg') no-repeat right 100% / auto 100%;

    &__nav-btn {
        transform: rotate(90deg);
    }

    &__title {
        margin-top: rem(-50);
        margin-left: rem(234);
        margin-bottom: rem(188);
    }

    &__subtitle {
        position: absolute;
        top: rem(466);
        z-index: 3;

        margin-left: rem(66);

        filter: drop-shadow(0 10px 40px rgba(0, 0, 0, .2));
        transform: translate3d(0, 0, 0); // костыль для хрома, чтобы картинка не перекрывала заголовок при анимации
    }

    &__line {
        position: absolute;
        top: 0;
        left: -2px;
        z-index: 1;

        width: rem(2488);
        height: rem(1174);
    }

    &__flag {
        position: absolute;
        top: rem(420);
        left: rem(1730);
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 rem(132);
    }

    &__text-col {
        position: relative;

        padding: rem(80) rem(86);
        width: percentage(930 / (2555 - 132 * 2));

        &::before {
            content: '';
            position: absolute;
            top: 0;

            width: rem(170);
            height: 1px;

            background: currentColor;
        }

        &_theme_plate {
            border: 1px solid;

            &::before {
                display: none;
            }
        }
    }

    &__photo {
        z-index: 2;

        margin-left: rem(144);
        margin-bottom: rem(114);
    }
}
