.screen-mission {
    position: relative;

    padding-bottom: rem-2(70);
    padding-top: rem-2(124);

    background: url('%=static=%assets/screens/screen-mission/bg-mission.svg') no-repeat right 100% / 133vh 100vh;

    @include below($tablet) {
        padding-top: rem(25);
        padding-bottom: rem(25);
    }

    &__title {
        margin-top: rem-2(-50);
        margin-left: rem-2(234);
        margin-bottom: rem-2(188);

        @include below($tablet) {
            margin: 0;
            margin-bottom: rem(45);
        }
    }

    &__subtitle {
        position: absolute;
        top: rem-2(466);
        z-index: 3;

        margin-left: rem-2(66);

        filter: drop-shadow(0 10px 40px rgba(0, 0, 0, .2));
        transform: translate3d(0, 0, 0); // костыль для хрома, чтобы картинка не перекрывала заголовок при анимации

        @include below($tablet) {
            top: auto;

            margin-top: rem(-20);
        }
    }

    &__line {
        position: absolute;

        z-index: 1;

        &_1 {
            top: rem(-2);
            right: percentage(170/1225);

            width: em(527);
            height: em(571);
            margin-right: rem(-128);
        }

        &_2 {
            left: rem(66);
            bottom: rem(296);
            right: calc(#{percentage(170/1225)} + #{rem(395)});

            overflow: hidden;
            transform: scaleX(-1);
        }

        @include below($tablet) {
            display: none;
        }
    }

    &__flag {
        position: absolute;
        top: rem(170);
        left: rem(163);
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 rem-2(132);

        @include below($tablet) {
            padding: 0;
            flex-wrap: wrap;
        }
    }

    &__text-col {
        position: relative;

        padding: rem-2(80) rem-2(86);
        width: percentage(930 / (2555 - 132 * 2));

        &::before {
            content: '';
            position: absolute;
            top: 0;

            width: rem-2(170);
            height: 1px;

            background: currentColor;
        }

        @include below($tablet) {
            width: 100%;
            padding: 0;

            &::before {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }

        &_theme_plate {
            border: 1px solid;

            &::before {
                display: none;
            }

            @include below($tablet) {
                border: none;
            }
        }
    }

    &__photo {
        z-index: 2;

        width: percentage(630/1225);
        height: rem-2(870);
        margin-left: rem-2(144);

        transform: translate3d(0, 0, 0);

        @include below($tablet) {
            @include hidden();
        }
    }

    &__mobile-photo {
        position: relative;
        z-index: 1;
    }
}
