.les {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: rem(70);

        background: linear-gradient(177deg, transparent 50%, #fff 50.5%);
        -webkit-backface-visibility: hidden;
    }

    &__title {
        font-size: rem(43);
        margin-top: rem(87);
        margin-bottom: 0;
    }

    &__row-logo {
        position: relative;

        &::after {
            display: inline-block;
            vertical-align: bottom;
            width: rem(114);
            height: rem(80);
            margin-top: rem(-15);
            background-image: url('%=static=%assets/title/les.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left top;
            content: '';
        }
    }

    &__house {
        width: rem(943);
    }

    &__roof {
        &_1 {
            height: rem(88);
            padding-top: rem(23);
        }
        &_2 {
            width: rem(380);
            height: rem(48);
        }
        &_3 {
            width: rem(530);
            height: rem(46);
        }
    }

    &__stage {
        &_1 {
            width: rem(590);
            height: rem(136);
        }
        &_2 {
            height: rem(64);
            width: rem(551);
        }
    }

    &__floor {
        &_1 {
            width: rem(716);
            height: rem(49);
        }
    }

    &__level {
        &_1 {
            width: rem(556);
            height: rem(179);
        }
        &_2 {
            width: rem(230);
            height: rem(136);
        }
        &_3 {
            width: rem(266);
            height: rem(65);
        }
        &_4 {
            width: rem(209);
            height: rem(48);
        }
    }

    &__descr {
        width: rem(528);
        margin-top: rem(45);
    }

    &__photos-before {
        width: rem(910);
    }

    &__container {
        position: relative;

        width: 100%;
        padding: 0 rem(40);
    }

    &__photo-top {
        max-height: rem(350);
    }

    &__photos-list {
        margin-left: rem(-74);
        margin-top: rem(93);
    }

    &__photos-descr {
        position: absolute;
        width: rem(300);
        margin-top: rem(36);
        padding-top: rem(10);
        padding-bottom: rem(10);
    }

    &__photos-after {
        width: rem(860);
        margin-top: rem(84);
    }

    &__photo-wrapper {
        position: relative;

        overflow: hidden;
        border-radius: 10px;

        line-height: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: rem(50);

            width: rem(285);

            background: url('%=static=%assets/academy/academy-photo-shadow.svg') no-repeat right top / auto 100%;
        }

        @include below($tablet) {
            width: auto;
            margin-left: rem(-25);
            margin-right: rem(-25);

            border-radius: 0;
        }
    }

    &__photos {
        &_1 {
            height: rem(260);
        }
        &_2 {
            height: rem(181);
        }
        &_3 {
            height: rem(149);
        }
    }

    &__cite {
        width: rem(942);
        padding-right: 0;
        margin-left: rem(-42);
        font-size: rem(34);
        font-weight: 300;
    }

    &__after-cite {
        margin-top: rem(59);
    }

    &__share {
        margin-top: rem(38);
    }

    &__photo {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
    }

    &__form {
        margin-top: rem(49);
    }

    &__block {
        position: relative;
        z-index: 2;

        @include clearfix();

        &_gray {
            background-image: url('%=static=%assets/inner-page/bg-gray-bottom.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__left {
        float: left;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

    &__right {
        float: right;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

}

@import './through-les/through-les';
