.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;

    clip: rect(0 0 0 0); /* for Internet Explorer */
    clip: rect(0, 0, 0, 0);

    height: 1px;
    transform: scale(0);
    transform-origin: top;

    transition: transform .3s;

    &__list {
        padding: rem(10) rem(23) rem(20);

        background-color: #fff;
    }

    &__item {
        padding: em(7) 0;
    }

    &__link {
        padding-bottom: em(2);

        font-size: em(15);
    }
}