include ../../nav-extend/nav-extend
include ../../btn/btn
include ../../line/line

mixin through-not-page(data)
    +b.through-not-page()&attributes(attributes)
        +line(line.notPage).__line
        +e.content
            +logo(logo.mainGray).inner-page__logo.through-not-page__logo
            +e.P.text
                | Ошибка 404: <br>
                | Страница не найдена
            +nav-extend(navExtend.default)
            +e.contact
                +e.contact-item
                    +e.phone(href='tel:+74957775457') 8 495 777 54 57

                +e.contact-item
                    +btn.__btn
                        | Написать нам
