.through-not-page {
    position: relative;

    padding: rem(73) rem(80) rem(73) rem(50);
    border-bottom: 1px solid #f8f8f8;

    &__line {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;

        width: rem(187);

        path {
            transform: translate(-10199.97px, -4898.91px);
        }
    }

    &__logo {
        margin-bottom: rem(118);
        margin-left: rem(60);
    }

    &__text {
        margin: 0 0 rem(128);
        padding-left: rem(56);
        border-left: 2px solid #e5e4e3;

        font-size: rem(43);
        font-weight: 500;
    }

    &__contact {
        padding-top: rem(15);
    }

    &__contact-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(50);

        color: $color-1;
    }

    &__phone {
        text-decoration: none;
        color: inherit;
        font-size: rem(24);
    }
    
    &__btn {
        color: inherit;
    }
}