mixin pagination-inner(data)
    +b.pagination-inner()&attributes(attributes)

        if data.label
            +e.label= data.label

        +e.list

            if data.prev
                +e.item.link(href=jv0)= data.prev

            if data.list
                each i in data.list

                    if !i.notLink
                        +e.item_not-under.link(href=jv0)= i.val

                    else
                        +e.SPAN.item= i.val

            if data.next
                +e.item.link(href=jv0)= data.next

        block 
