.page-inner {
    .page__lang {
        font-size: rem(17);
        top: rem(25);
    }
}

.inner-page {
    &_gray-top {
        background-image: url('%=static=%assets/inner-page/bg-gray.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__logo {
        margin-left: rem(-14);
    }
}
