include ../../../photo-inner/photo-inner
include ../../../par/par
include ../../../title/title
//include ../../../list/list
//include ../../../soc-inner/soc-inner
//include ../../../form/form

mixin block-1(data)
    +b.block-1.academy__block
        +e.left.academy__left
            +logo(logo.mainGray).inner-page__logo

            +title().academy__title Академия
                +e.bold= ' Lorus'

            +par()._border-left.academy__descr
                | Непрерывное улучшение качества и процессов невозможно без хорошо подготовленной команды. Академия ЛОРУС – корпоративный институт профессионального развития персонала – ищет потенциал и развивает сотрудников, исходя из стратегических задач компании.



        +e.right.academy__right
            +photo-inner.academy__photo-top.photo-inner__photo-cont_shadow

                +e.photo.academy__photo-wrapper.js-tween

                    +e.IMG.__photo_left-yellow(
                        src='%=static=%img/assets/photo-inner/academy-1.jpg'
                        alt='')

