include ../../line/line
include ../../icon/icon
include ./block-1/block-1
include ./block-2/block-2
include ./block-3/block-3

mixin through-career(data)
    +b.through-career()&attributes(attributes)
        +e.wrapper
            +e.lines
                +line(line.throughCareer1).through-career__line_1
                +line(line.throughCareer2)._dashed.through-career__line_2
                +line(line.throughCareer3).through-career__line_3
            +e.content
                +block-1
                +block-2
                +block-3
