mixin list-inner(data)
    +b(data.tag == 'ol' ? 'ol' : 'ul').list-inner()&attributes(attributes)
    
        each item in data.list
            if data.tag == 'ol'
                +e.LI.item
                    +e.content= item.text 

            else
                if data.type == 'img'

                    +e.item
                        +e(src=item.src class=(item.class ? '__img ' + item.class : '__img'))

                        if item.text

                            +e(class=(item.textClass ? '__content ' + item.textClass : '__content'))= item.text

                else
                    if data.type == 'check'
                        +e.LI.item
                            +icon({ icon: 'check', class: 'list-inner__check' })
                            +e.content= item.text 

                    else
                        if item.text
                            +e.LI.item= item.text

