.list-inner {
    &_roll {        
        margin: 0;
        padding: 0;
        list-style-type: none;

        .list-inner__item {
            position: relative;
            margin: 0;
            padding: 0 0 0 rem(25);
            font-size: rem(21);
            font-weight: 300;
            line-height: normal;

            &::after {
                position: absolute;
                left: rem(-25);
                display: inline-block;
                content: '';
                @include bgrem($roll); 
            }

            & + .list-inner__item {
                margin-top: rem(27);
            }

            &:nth-child(4n+2) {
                &::after {
                    transform: rotate(90deg);
                }
            }

            &:nth-child(4n+3) {
                &::after {
                    transform: rotate(180deg);
                }
            }

            &:nth-child(4n+4) {
                &::after {
                    transform: rotate(270deg);
                }
            }
        }
    }

    &_horiz-num {
        margin: 0;
        padding: 0;
        counter-reset: item;
        list-style-type: none;
        overflow: hidden;
        margin-left: rem(-75);

        .list-inner__item {
            position: relative;
            float: left;
            color: #272425;
            font-size: 0;
            font-weight: 400;

            &::before {
                display: inline-block;
                vertical-align: top;
                width: rem(45);
                content: counter(item);
                counter-increment: item;
                font-size: rem(100);
                font-weight: 100;
                line-height: rem(69);
                text-align: right;
                color: #e2e63f;
            }

            &::after {
                position: absolute;
                top: 0;
                left: rem(75);
                content: '';
                background-color: #e2e63f;
                width: rem(62);
                height: 3px;
            }
        }

        .list-inner__content {
            display: inline-block;
            width: calc(100% - #{rem(45)});
            padding: rem(33) rem(40) rem(10) rem(30);
            font-size: rem(16);
        }
    }

    &_col-3 {
        
        .list-inner__item {
            width: (100/3) + %;
        }
    }

    &_horiz-photo {
        list-style-type: none;
        overflow: hidden;        
        margin: 0;
        padding: 0;
        
        .list-inner__item {
            float: left;

            & + .list-inner__item {
                margin-left: rem(27);
            }
        }
    }

    &_check {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: rem(21);
        font-weight: 300;

        .list-inner__item {
            @include clearfix();

            & + .list-inner__item {
                margin-top: rem(52);
            }
        }

        .list-inner__content {
            margin-left: rem(53);
        }
    }

    &__check {
        width: rem(33);
        height: rem(27);
        float: left;
    }
}
