include ../../../title/title
include ../../../list/list

mixin block-4(data)
    +b.SECTION.block-4.inner-page__block

        +title({'tag': 'h3'})._inner.block-3__title Список Тип 3

        +list(list.constructorOl)._horiz-num._col-3.block-3__rules
