include ../../../title/title
include ../../../list/list

mixin block-4(data)
    +b.SECTION.block-4.inner-page__block_theme_extra._inside

        +title({'tag': 'h3'})._inner.inner-page__subtitle Список Тип 3

        +list(list.constructorOl)._horiz-num._col-3.inner-page__ol
