.figure {

    &__img-wrap {
        height: rem(170);

        text-align: center;

        &::after {
            display: inline-block;
            vertical-align: middle;

            height: 100%;
            content: '';
        }
    }

    &__img {
        display: inline-block;

        width: auto;
        max-width: 100%;

        margin: auto;

        vertical-align: middle;
    }

    &__text {
        margin-top: rem(36);
    }

    &__title {
        font-size: rem(21);
        font-weight: 300;
    }

    &__descr {
        position: relative;

        margin-top: rem($betweenText);
        padding-top: rem($betweenText);

        font-size: rem(16);
        font-weight: 400;

        color: #272425;

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            content: '';

            width: rem(34);
            height: 1px;

            background-color: #76726c;
        }

        @include below($tablet) {
            margin-top: rem(27);
            padding-top: rem(27);

            &:before {
                left: 50%;

                margin-left: rem(-17);
            }
        }
    }
}
