include ../../../title/title
include ../../../list/list
include ../../../slider/slider
include ../../../par/par

mixin block-2(data)
    +b.SECTION.block-2.inner-page__block

        +title({'tag': 'h3'})._inner._top-yellow.inner-page__subtitle Список 1

        .inner-page__list-wrap
            +list(list.constructorCheck)._check

        +par()._brackets.inner-page__cite_center
            +e.content
                | Цитата и выделение важной части текста. Цитата и выделение важной части текста. Цитата и выделение важной части текста. Цитата и выделение важной части текста.

        +title({'tag': 'h3'})._inner.inner-page__subtitle_photos Фотографии

        +slider(slider.academyTeam).inner-page__photos
            -var i = 1;
            while i <= 4
                +e.item.inner-page__photo-wrapper
                    img.inner-page__photo(src=`%=static=%img/assets/inner-page/academy-page/team-${i}.jpg` alt='')
                -i++
