include ../../../title/title
include ../../../list/list
include ../../../par/par

mixin block-2(data)
    +b.SECTION.block-2.inner-page__block

        +title({'tag': 'h3'})._inner._top-yellow Список 1

        .inner-page__list-wrap
            .inner-page__list-col
                +list(list.careerOffers_1)._check

            .inner-page__list-col
                +list(list.careerOffers_2)._check

            .inner-page__list-col
                +list(list.careerOffers_3)._check

        +par()._brackets.inner-page__cite
            +e.content
                | Цитата и выделение важной части текста. Цитата и выделение важной части текста. Цитата и выделение важной части текста. Цитата и выделение важной части текста.

        +title({'tag': 'h3'})._inner Фотографии

        +list(list.constructorTeam)._horiz-photo.block-2__team
