include ../title/title
include ../inner-page/form-inner/btn-inner/btn-inner
include ../inner-page/form-inner/input-inner/input-inner

mixin contacts-form(data)
    +b.contacts-form()&attributes(attributes)

        +title({'tag': 'h3'})._inner
            | Остались вопросы?

        +b.FORM.form-inner.les__form
            +e.fields_left
                +e.row_col.__row_2
                    +e.col
                        +input-inner({'label': 'Как к вам обращаться?'})

                    +e.col
                        +input-inner({'label': 'Телефон для связи'})

                +e.row
                    +input-inner({'label': 'Комментарий', 'type': 'textarea'})

            +e.submit_left
                +btn-inner({'text': 'Отправить', 'type': 'submit'})