include ../../../inner-page/list-inner/list-inner

mixin block-2(data)
    +b.block-2.search__block

        +e.results

            +list-inner(listInner.searchResults)._vert-num.search__results-list
