include ../../../title/title
include ../../../btn/btn
include ../../../list/list
include ../../../par/par
include ../../../list-extend/list-extend

mixin block-3(data)
    +b.SECTION.block-3.service__block

        +title({'tag': 'h3'})._inner.block-3__title Вакансии

        +list-extend(listExtend.default).block-3__vacancies
 