include ../../../figure/figure
include ../../../slider/slider

mixin block-4(data)
    +b.block-4()&attributes(attributes)
        +title({'tag': 'h3'})._inner._left-yellow Кейсы по консалтингу
        +slider(slider.prototype)._theme-prototype.inner-page__slider
            -for (var i = 0; i < 9; i++)
                +e.item
                    +figure({
                        descr: 'Карты компетенций – определение и периодическое обновление набора компетенций (как личностных, так и профессиональных).',
                        title: 'Intel',
                        src: '%=static=%img/assets/list-img/client-' + (i%6 + 1) + '.jpg'
                    })