.through-service {
    padding: 0 rem(40);

    background: url('%=static=%assets/service/through-service/bg.svg') #fff -10% 0 / cover;

    &_en {
        background: url('%=static=%assets/service/through-service/bg_en.svg') -10% 0 / cover;
    }

    @include below($tablet) {
        padding: 0;
        padding-top: 95 / 806 * 100 + vh;

        background: none;
    }

    @import './block-1/block-1';
    @import './block-2/block-2';
    @import './block-3/block-3';
    @import './block-4/block-4';

    &__wrapper {
        position: relative;
    }

    &__lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        width: 100%;
        height: 100%;
        padding-left: rem(30);

        @include below($tablet) {
            display: none;
        }
    }

    &__line {
        font-size: rem(15.4);

        &_1 {
            width: em(1124);
            height: em(1162);
        }

        &_2 {
            width: em(24 * 16 - 12);
            height: em(24 * 16 - 12);
            margin: em(12) 0;

            transform: rotate(-90deg) scaleX(-1);
        }

        &_3 {
            width: em(272);
            height: em(263);
            margin-left: em(-5);
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }
}
