include ../service
include ../../line/line
include ./block-1/block-1
include ./block-2/block-2
include ./block-3/block-3
include ./block-4/block-4

mixin through-service(data)
    +service
        +b.through-service()&attributes(attributes)
            +container.service__container
                img.through-service__line(src='%=static=%img/assets/service/through-service/through-service-line.svg' alt='')
                +block-1
                +block-2
                +block-3
                +block-4
