.par {
    font-size: rem(16);
    font-weight: 400;
    margin: 0;
    padding: 0;

    &_border-left {
        border-left: 2px solid #e5e4e3;
        padding-left: rem(33);
        padding-bottom: rem(20);

        @include below($tablet) {
            padding: 0;
            border-left: none;
        }
    }

    &_brackets {
        position: relative;
        display: inline-block;
        padding: rem(41) rem(43) rem(35) rem(41);
        font-size: rem(21);
        font-weight: 400;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: rem(23);
            height: 100%;
            content: '';
            background-color: transparent;
            border: 3px solid #e2e73e;
            border-radius: rem(10);
        }

        &::before {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &::after {
            left: auto;
            right: 0;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .par__content {
            display: block;
        }

        @include below($tablet) {
            padding: rem(40) rem(30);
            margin: 0 rem(-30);

            font-size: rem(16);

            background: $color-2;

            &::before,
            &::after {
                display: none;
            }

            .par__content {
                display: inline;
            }
        }
    }

    &_brackets-s {
        &::before,
        &::after {
            width: rem(11);
        }
    }
}
