include ../../../photo/photo
include ../../../par/par
include ../../../title/title

mixin block-1(data)
    +b.SECTION.block-1.inner-page__block
        +photo({ src: '%=static=%img/assets/photo/career-1.jpg' }).inner-page__main-photo

        +e.content.inner-page__descr
            +title().inner-page__title Конструктор услуги

            +par()._border-left
                | Вводный текст об услуге и так далее. Вводный текст об услуге и так далее. Вводный текст об услуге и так далее. Вводный текст об услуге и так далее.Вводный текст об услуге и так далее.Вводный текст об услуге и так далее. Вводный текст об услуге и так далее. Вводный текст об услуге и так далее. Вводный текст об услуге и так далее.

