mixin partners(data)
    +b.partners()&attributes(attributes)
        if data.title
            +e.H3.title= data.title

        +e.UL.list
            each item in data.items
                +e.item
                    +logo(item).partners__logo
