.partners {

    &__title {
        margin-top: 0;
        margin-bottom: rem-2(50);

        font-size: rem-2(44);
        font-weight: 300;
        line-height: (85/44);
    }

    &__list {
        @include list-reset();
        margin: rem(-10);

        font-size: 0;
    }

    &__logo {
        padding: rem(10);

        font-size: 1rem;

        @include below($tablet) {
            max-width: 50%;
        }
    }
}
