.pagination {
    padding-top: rem(40);
    padding-bottom: rem(40);

    &_gray-skew {
        position: relative;

        padding-top: rem(75);

        background-color: #f6f5f4;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            border-top: rem(49) solid #fff;
            border-right: 100vw solid transparent;
        }

        @include below($tablet) {
            padding-top: rem(30);
            padding-bottom: rem(30);

            &::before {
                display: none;
            }
        }
    }

    &__item {
        display: inline-block;

        font-size: rem(18);
        font-weight: 400;
        color: #000;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: rem(20);
        }

        &_not-under {
            border-bottom: none;
        }

        @include below($mobile) {

            &:not(:last-child) {
                margin-right: rem(10);
            }
        }
    }

    &__label {
        float: left;
        width: rem(108);

        color: #9c958b;
        font-size: rem(13);
        font-weight: 400;
        line-height: rem(24);

        @include below($tablet) {
            display: none;
        }
    }
}
