.page {
    position: relative;

    width: 100%;

    overflow: hidden;

    transition: filter .4s;

    @include below($tablet) {
        transition: none;
    }

    &__lang {
        position: absolute;
        right: rem(40);
        top: rem(40);
        z-index: 10;

        @include above($tablet) {
            &_main {
                display: none;
            }
        }

        @include below($tablet) {
            position: fixed;
            right: rem(115);
            top: rem(32);
            z-index: 100;

            display: block;
        }
    }
}
