include ../title/title
include ../content/content
include ../container/container
include ../decor-title/decor-title
include ../icon/icon

mixin service(data)
    +b.ARTICLE.service()&attributes(attributes)
        block
