.service {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: rem(70);

        background: linear-gradient(177deg, transparent 50%, #fff 50.5%);
        -webkit-backface-visibility: hidden;
    }

    @include below($tablet) {

        &::before {
            display: none;
        }
    }

    &__container {
        position: relative;

        width: 100%;
        padding: 0 rem(40);
    }

    &__photo {

        @include below($tablet) {
            margin-left: -$mobile-gap;
            margin-right: -$mobile-gap;
        }
    }

    &__block {
        position: relative;
        z-index: 2;

        @include clearfix();

        @include below($tablet) {
            padding: 0 rem(25);

            &:nth-child(odd) {
                background: $color-3;
            }

            &:nth-child(even) {
                background: #fff;
            }
        }
    }

    &__left {
        float: left;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

    &__right {
        float: right;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

    &__text-decor {
        padding-left: rem(80);
    }

    &__title {
        font-size: rem(34);
        margin-bottom: rem(30);
    }

}

@import './through-service/through-service';
