.academy-page {
    @import './block-1/block-1';
    @import './block-2/block-2';
    @import './block-3/block-3';
    @import './block-4/block-4';

    &__line {
        font-size: rem(15.4);

        &_1 {
            height: auto;
            width: 100%;
            overflow: hidden;

            .line__icon {
                float: right;
                //width: em(31 * 16 - 12);
                width: rem(466);

                &_active {
                    position: absolute;
                    float: none;
                    right: 0;
                    left: auto;
                }
            }
        }

        &_2 {
            position: absolute;
            right: em(478, 15.4);

            width: em(536, 15.4);
            height: em(10, 15.4);
            margin-top: em(-12, 15.4);

            transform: scaleX(-1);
        }

        &_3 {
            width: em(210, 15.4);
            height: auto;
            margin-left: em(-94, 15.4);
            margin-top: em(-13, 15.4);
        }

        &_4 {
            position: absolute;
            right: rem(-61);

            width: rem(115);
            margin-top: rem(258);
        }
    }

    &__title {

        &::after {
            content: '';
            display: inline-block;
            width: rem(98);
            height: rem(102);
            margin-top: rem(-15);

            vertical-align: middle;

            background-image: url('%=static=%assets/title/academy.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left top;
        }
    }

    &__building {
        position: absolute;
        right: rem(281);
        z-index: -1;
        width: rem(116);
        height: rem(94);
        margin-top: rem(-104);
    }
}
