include ../title/title
include ../content/content
include ../container/container
include ../decor-title/decor-title
include ../icon/icon
include ./through-search/through-search

mixin search(data)
    +b.ARTICLE.search.inner-page_gray-top()&attributes(attributes)
        +through-search
