.stats {
    @include list-reset();
    display: flex;
    justify-content: space-between;

    &__item {
        color: $color-1;
        font-weight: 300;

        &:last-child {
            margin-left: rem-2(126);

            .stats__text {

                &::after {
                    display: none;
                }
            }
        }
    }

    &__num {
        display: block;
        font-size: rem-2(82);
        white-space: nowrap;
    }

    &__text {
        position: relative;

        display: block;
        min-height: rem-2(220);

        font-size: rem-2(42);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: rem-2(170);
            height: 1px;

            background-color: currentColor;
        }
    }
}
