include ../../node_modules/bemto.jade/bemto

include ../components/page/page
include ../components/header/header
include ../components/footer/footer

doctype html
html(lang='ru')
    include ../components/head/head

    body
        +page
            +header
            
            block content
            
            +footer

        script(src='%=static=%js/main%=hash=%%=min=%.js')
