include ../../node_modules/bemto.jade/bemto

include ../components/page/page
include ../components/header/header
include ../components/link/link
include ../components/footer/footer
include ../components/write/write

-var pageSettings = {};
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;

block vars

doctype html

html(lang='ru' class=pageSettings.pageClass)
    include ../components/head/head

    body
        +header(header.inner)

        +page
            +link.page__lang
                | In English

            block content

            +footer({ inner: true })

        +write() 

        script(src='%=static=%js/main%=hash=%%=min=%.js')
