include ../../node_modules/bemto.jade/bemto

include ../components/page/page
include ../components/header/header
include ../components/link/link
include ../components/footer/footer
include ../components/write/write
include ../components/preloader/preloader

-var pageSettings = {};
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;

block vars

doctype html

html(lang='ru' class=pageSettings.pageClass)
    include ../components/head/head

    body
        +preloader
        +header(header.inner)

        +page
            +link.page__lang
                | in English

            block content

            +footer({ inner: true })(class=pageSettings.footerClass)

        +write()

        script(src='%=static=%js/main%=hash=%%=min=%.js')
