include ../../node_modules/bemto.jade/bemto

include ../components/page/page

-var pageSettings = {};
-pageSettings.title = 'Главная';

block vars

doctype html
html(lang='ru').page-index
    include ../components/head/head

    body
        +page
            block content

        script(src='%=static=%js/main%=hash=%%=min=%.js')
