include ../../node_modules/bemto.jade/bemto

include ../components/page/page
include ../components/header/header
include ../components/write/write
include ../components/link/link

-var pageSettings = {};
-pageSettings.title = 'Главная';

block vars

doctype html
html(lang='ru').page-index
    include ../components/head/head

    body
        +header(header.screen)
        +page
            +link.page__lang_main
                | in English

            block content

        +write()

        script(src='%=static=%js/main%=hash=%%=min=%.js')
