.career {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: rem(70);

        background: linear-gradient(177deg, transparent 50%, #fff 50.5%);
        -webkit-backface-visibility: hidden;
    }

    &__title {
        font-size: rem(43);
        margin-top: rem(115);
        margin-bottom: 0;
    }

    &__descr {
        width: rem(528);
        margin-top: rem(45);
    }

    &__container {
        position: relative;

        width: 100%;
        padding: 0 rem(40);
    }

    &__photo-top {
        max-height: rem(350);
    }

    &__photo-wrapper {
        position: relative;

        overflow: hidden;
        border-radius: 10px;

        line-height: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: rem(50);

            width: rem(285);

            background: url('%=static=%assets/academy/academy-photo-shadow.svg') no-repeat right top / auto 100%;
        }

        @include below($tablet) {
            width: auto;
            margin-left: rem(-25);
            margin-right: rem(-25);

            border-radius: 0;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
    }

    &__vacancies {
        width: rem(975);
        margin: rem(35) 0 rem(33) rem(27);
    }

    &__block {
        position: relative;
        z-index: 2;

        @include clearfix();

        &_gray {
            background-image: url('%=static=%assets/inner-page/bg-gray-bottom.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__left {
        float: left;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

    &__right {
        float: right;

        @include below($tablet) {
            float: none;
            width: 100% !important;
        }
    }

}

@import './through-career/through-career';
