include ../title/title
include ../content/content
include ../container/container
include ../decor-title/decor-title
include ../icon/icon

mixin career(data)
    +b.ARTICLE.career.inner-page_gray-top()&attributes(attributes)
        block
