include ../../../inner-page/share-inner/share-inner
include ../../../inner-page/par-inner/par-inner

mixin block-4(data)
    +b.block-4.les__block

        +par-inner()._brackets._brackets-s.les__cite
            +e.content
                | Мы считаем, что наш совместный успех в повседневном удовлетворении ваших потребностей!

        +par-inner().les__after-cite
            +e.content
                | Управление производительностью для наших клиентов означает контроль операционных затрат и потерь времени путем непрерывной работы над планированием, определение операционных ключевых показателей эффективности, испытание и внедрение оптимизированных логистических процессов или технологий.

        +share-inner().les__share
            +e.img(src='%=static=%img/assets/inner-page/share-inner/dummy.jpg')

