include ../../../title/title
include ../../../inner-page/list-inner/list-inner
//include ../../../inner-page/inner-page

mixin block-2(data)
    +b.block-2.academy__block

        +title({'tag': 'h3'})._inner._top-yellow Цели Академии

        +list-inner(listInner.academyTargets)._roll.academy__targets
        