.block-2 {
    margin-top: rem(68);
    margin-left: rem(100);

    @include below($tablet) {
        display: flex;
        flex-direction: column;
        padding-bottom: rem(50);
        margin-bottom: 0;
        min-height: 0;

        background: url(%=static=%assets/service/through-service/block-2/bg-map.svg) no-repeat right rem(-120) top rem(-100) / rem(290) rem(426);
    }

    &__left {
        width: rem(560);
    }

    &__right {
        width: rem(560);
        padding-top: rem(265);
        padding-right: rem(55);

        @include below($tablet) {
            padding-top: rem(40);
            order: -1;

            h4 {
                padding-left: rem(22);
                border-left: 4px solid $color-2;
            }
        }
    }

    &__photo {
        width: rem(475);
        height: rem(258);
        margin-top: rem(-40);

        @include below($tablet) {
            display: none;
        }
    }

    &__subtitle {
        position: relative;
        left: rem(10);
        z-index: 3;

        .decor-title__row:first-child {
            border-top : 4px solid #E5EE3C;
        }

        @include below($tablet) {
            display: none;
        }
    }

    &__icon {
        display: block;
        margin-bottom: rem(20);

        vertical-align: middle;

        fill: none;
        stroke: currentColor;

        @include below($tablet) {
            opacity: .6;
        }
    }

    &__icons {
        margin-left: rem(92);
        margin-top: rem(30);

        @include below($tablet) {
            display: flex;
            margin-left: 0;
        }
    }

    &__desc {
        position: relative;

        padding-left: rem(10);

        &::before {
            content: '';
            position: absolute;
            bottom: rem(-20);
            left: 0;

            width: 100%;
            height: 4px;

            background-color: #E1EA38;
        }

        @include below($tablet) {
            margin-top: auto;
            padding-left: rem(5);

            font-size: rem(15);

            &::before {
                background: $color-3;
            }
        }
    }

    &__calendar {
        display: inline-block;
        width: rem(160);
        margin-right: rem(60);

        vertical-align: top;

        @include below($tablet) {
            display: flex;
            flex-direction: column;
            width: rem(150);
            margin-right: rem(45);
        }
    }

    &__money {
        display: inline-block;
        width: rem(160);

        vertical-align: top;

        @include below($tablet) {
            display: flex;
            flex-direction: column;
            width: rem(150);
        }
    }
}
