include ../../../title/title
include ../../../list/list
//include ../../../inner-page/inner-page

mixin block-2(data)
    +b.block-2.academy__block

        +title({'tag': 'h3'})._inner._top-yellow Цели Академии

        +list(list.academyTargets)._roll.academy__targets
